USE [IFINSYS]
GO
/****** Object:  Table [dbo].[CUSTOMER_DOCUMENT]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_DOCUMENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_CODE] [nvarchar](50) NOT NULL,
	[DOCUMENT_CODE] [nvarchar](50) NOT NULL,
	[DOCUMENT_NAME] [nvarchar](250) NOT NULL,
	[FILE_NAME] [nvarchar](250) NULL,
	[PATHS] [nvarchar](250) NULL,
	[IS_LATEST] [nvarchar](1) NULL,
	[EXPIRED_DATE] [datetime] NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_CUSTOMER_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSF_BACKUP_DB_STATUS]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSF_BACKUP_DB_STATUS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BACKUP_BEFORE_EOD_STATUS] [nvarchar](15) NOT NULL,
	[BACKUP_AFTER_EOD_STATUS] [nvarchar](15) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_DSF_BACKUP_DB_STATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOURNAL_GL_LINK]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOURNAL_GL_LINK](
	[CODE] [nvarchar](50) NOT NULL,
	[GL_LINK_NAME] [nvarchar](250) NOT NULL,
	[IS_BANK] [nvarchar](1) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_JURNAL_GL_LINK] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_FAQ]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_FAQ](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QUESTION] [nvarchar](4000) NULL,
	[ANSWER] [nvarchar](4000) NULL,
	[FILENAME] [nvarchar](250) NULL,
	[PATHS] [nvarchar](250) NULL,
	[IS_ACTIVE] [nvarchar](1) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_FAQ] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_TAX_SCHEME]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_TAX_SCHEME](
	[CODE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_TAX_SCHEME] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_TAX_SCHEME_DETAIL]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_TAX_SCHEME_DETAIL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TAX_SCHEME_CODE] [nvarchar](50) NOT NULL,
	[EFF_DATE] [datetime] NOT NULL,
	[PPN_PCT] [decimal](9, 6) NOT NULL,
	[PPH_PCT] [decimal](9, 6) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_TAX_SCHEME_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RPT_DASHBOARD_AGREEMENT_BUCKET_BY_BRANCH]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT_DASHBOARD_AGREEMENT_BUCKET_BY_BRANCH](
	[P_USER_ID] [nvarchar](50) NOT NULL,
	[REPORT_NAME] [nvarchar](250) NOT NULL,
	[PERIODE] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[BRANCH_NAME] [nvarchar](250) NOT NULL,
	[UNDER_30] [int] NOT NULL,
	[31_SD_60] [int] NOT NULL,
	[61_SD_90] [int] NOT NULL,
	[90_UP] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RPT_DASHBOARD_DESKCOLL_RESULT]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT_DASHBOARD_DESKCOLL_RESULT](
	[P_USER_ID] [nvarchar](50) NOT NULL,
	[REPORT_NAME] [nvarchar](250) NOT NULL,
	[PERIODE] [nvarchar](50) NOT NULL,
	[RESULT] [nvarchar](50) NOT NULL,
	[COUNT] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RPT_DASHBOARD_SALES_BY_AREA]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT_DASHBOARD_SALES_BY_AREA](
	[P_USER_ID] [nvarchar](50) NOT NULL,
	[REPORT_NAME] [nvarchar](250) NOT NULL,
	[PERIODE] [nvarchar](50) NOT NULL,
	[AREA] [nvarchar](50) NOT NULL,
	[SALES] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RPT_SYS_BRANCH_LIST]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT_SYS_BRANCH_LIST](
	[P_USER_ID] [nvarchar](50) NULL,
	[CODE] [nvarchar](50) NULL,
	[NAME] [nvarchar](250) NULL,
	[REGION_CODE] [nvarchar](50) NULL,
	[REGION_DESC] [nvarchar](4000) NULL,
	[PROVINCE_CODE] [nvarchar](50) NULL,
	[PROVINCE_DESC] [nvarchar](4000) NULL,
	[CITY_CODE] [nvarchar](50) NULL,
	[CITY_DESC] [nvarchar](4000) NULL,
	[ZIP_CODE] [nvarchar](50) NULL,
	[SUB_DISTRICT] [nvarchar](250) NULL,
	[VILLAGE] [nvarchar](250) NULL,
	[ADDRESS] [nvarchar](4000) NULL,
	[IS_ACTIVE] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIER_DOCUMENT]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER_DOCUMENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SUPPLIER_CODE] [nvarchar](50) NOT NULL,
	[DOCUMENT_CODE] [nvarchar](50) NOT NULL,
	[DOCUMENT_NAME] [nvarchar](250) NOT NULL,
	[FILE_NAME] [nvarchar](250) NULL,
	[PATHS] [nvarchar](250) NULL,
	[IS_LATEST] [nvarchar](1) NOT NULL,
	[EXPIRED_DATE] [datetime] NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SUPPLIER_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_BANK]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_BANK](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_MASTER_BANK] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_BASE_PARAM]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_BASE_PARAM](
	[SYSTEM_DATE] [datetime] NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_BRANCH]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_BRANCH](
	[CODE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[DOCUMENT_CODE] [nvarchar](50) NOT NULL,
	[REGION_CODE] [nvarchar](50) NOT NULL,
	[PROVINCE_CODE] [nvarchar](50) NOT NULL,
	[CITY_CODE] [nvarchar](50) NOT NULL,
	[ZIP_CODE] [nvarchar](50) NOT NULL,
	[SUB_DISTRICT] [nvarchar](250) NOT NULL,
	[VILLAGE] [nvarchar](250) NOT NULL,
	[ADDRESS] [nvarchar](4000) NOT NULL,
	[BRANCH_TYPE] [nvarchar](5) NOT NULL,
	[AREA_PHONE_NO] [nvarchar](4) NOT NULL,
	[PHONE_NO] [nvarchar](25) NOT NULL,
	[AREA_FAX_NO] [nvarchar](4) NOT NULL,
	[FAX_NO] [nvarchar](25) NOT NULL,
	[EMAIL_DEFAULT] [nvarchar](50) NOT NULL,
	[IS_SYARIAH] [nvarchar](1) NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_BRANCH] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_BRANCH_ACC_FIRST_PERIOD]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_BRANCH_ACC_FIRST_PERIOD](
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[MONTH] [nvarchar](2) NOT NULL,
	[YEAR] [nvarchar](4) NOT NULL,
	[AUDIT_PERIOD] [nvarchar](6) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_BRANCH_ACC_FIRST_PERIOD] PRIMARY KEY CLUSTERED 
(
	[BRANCH_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_BRANCH_BANK]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_BRANCH_BANK](
	[CODE] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[MASTER_BANK_CODE] [nvarchar](50) NOT NULL,
	[BANK_BRANCH_NAME] [nvarchar](100) NOT NULL,
	[CURRENCY_CODE] [nvarchar](3) NOT NULL,
	[BANK_ACCOUNT_NO] [nvarchar](20) NOT NULL,
	[BANK_ACCOUNT_NAME] [nvarchar](50) NOT NULL,
	[BANK_TYPE] [nvarchar](50) NOT NULL,
	[TYPE_FLAG] [nvarchar](1) NOT NULL,
	[DEFAULT_FLAG] [nvarchar](1) NOT NULL,
	[EMP_SIGNER_PDC_CODE] [nvarchar](50) NOT NULL,
	[FILE_NAME] [nvarchar](250) NOT NULL,
	[PATHS] [nvarchar](250) NOT NULL,
	[GL_LINK_CODE] [nvarchar](50) NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[IS_EDC] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_BRANCH_BANK] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_BRANCH_DOC]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_BRANCH_DOC](
	[CODE] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[DOC_NO] [nvarchar](20) NOT NULL,
	[DOC_TYPE] [nvarchar](20) NOT NULL,
	[EXP_DATE] [datetime] NULL,
	[EFF_DATE] [datetime] NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_BRANCH_DOC] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_BRANCH_LOGIN]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_BRANCH_LOGIN](
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[IS_MONDAY] [nvarchar](1) NOT NULL,
	[DATE_IN_MONDAY] [nvarchar](5) NOT NULL,
	[DATE_OUT_MONDAY] [nvarchar](5) NOT NULL,
	[IS_TUESDAY] [nvarchar](1) NOT NULL,
	[DATE_IN_TUESDAY] [nvarchar](5) NOT NULL,
	[DATE_OUT_TUESDAY] [nvarchar](5) NOT NULL,
	[IS_WEDNESDAY] [nvarchar](1) NOT NULL,
	[DATE_IN_WEDNESDAY] [nvarchar](5) NOT NULL,
	[DATE_OUT_WEDNESDAY] [nvarchar](5) NOT NULL,
	[IS_THURSDAY] [nvarchar](1) NOT NULL,
	[DATE_IN_THURSDAY] [nvarchar](5) NOT NULL,
	[DATE_OUT_THURSDAY] [nvarchar](5) NOT NULL,
	[IS_FRIDAY] [nvarchar](1) NOT NULL,
	[DATE_IN_FRIDAY] [nvarchar](5) NOT NULL,
	[DATE_OUT_FRIDAY] [nvarchar](5) NOT NULL,
	[IS_SATURDAY] [nvarchar](1) NOT NULL,
	[DATE_IN_SATURDAY] [nvarchar](5) NOT NULL,
	[DATE_OUT_SATURDAY] [nvarchar](5) NOT NULL,
	[IS_SUNDAY] [nvarchar](1) NOT NULL,
	[DATE_IN_SUNDAY] [nvarchar](5) NOT NULL,
	[DATE_OUT_SUNDAY] [nvarchar](5) NOT NULL,
	[IS_HOLIDAY] [nvarchar](1) NOT NULL,
	[DATE_IN_HOLIDAY] [nvarchar](5) NOT NULL,
	[DATE_OUT_HOLIDAY] [nvarchar](5) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_BRANCH_LOGIN] PRIMARY KEY CLUSTERED 
(
	[BRANCH_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_BRANCH_PARAM]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_BRANCH_PARAM](
	[CODE] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[VALUE] [nvarchar](20) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_BRANCH_PARAM] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[BRANCH_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_BRANCH_SIGNER]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_BRANCH_SIGNER](
	[CODE] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[EMP_CODE] [nvarchar](50) NOT NULL,
	[SIGNER_NAME] [nvarchar](250) NOT NULL,
	[SIGNER_KTP_NO] [nvarchar](50) NOT NULL,
	[SIGNER_TYPE_CODE] [nvarchar](50) NOT NULL,
	[ORDER_NO] [int] NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_BRANCH_SIGNER] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_CITY]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_CITY](
	[CODE] [nvarchar](50) NOT NULL,
	[BI_CODE] [nvarchar](10) NOT NULL,
	[PROVINCE_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[PLAT] [nvarchar](2) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_CITY] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_COMPANY]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_COMPANY](
	[CODE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[IDPP] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_COMPANY] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_COMPANY_PARAM]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_COMPANY_PARAM](
	[CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](1000) NOT NULL,
	[VALUE] [nvarchar](250) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MODE_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_COMPANY_PARAM] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_CURRENCY]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_CURRENCY](
	[CODE] [nvarchar](3) NOT NULL,
	[DESCRIPTION] [nvarchar](50) NOT NULL,
	[BASE_CURRENCY] [nvarchar](1) NOT NULL,
	[OJK_CODE] [nvarchar](10) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_CURRENCY] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_CURRENCY_RATE]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_CURRENCY_RATE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CURRENCY_CODE] [nvarchar](3) NOT NULL,
	[EFF_DATE] [datetime] NOT NULL,
	[BUY_RATE] [decimal](18, 6) NOT NULL,
	[SALE_BUY_MID] [decimal](18, 6) NOT NULL,
	[SALE_RATE] [decimal](18, 6) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_CURRENCY_RATE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_CUSTOMER]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_CUSTOMER](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_DEPARTMENT]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DEPARTMENT](
	[CODE] [nvarchar](50) NOT NULL,
	[DIVISION_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_DIVISION]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DIVISION](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_DIVISION] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_DOC_ACCESS_LOG]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DOC_ACCESS_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MODULE_NAME] [nvarchar](50) NOT NULL,
	[TRANSACTION_NAME] [nvarchar](250) NOT NULL,
	[TRANSACTION_NO] [nvarchar](50) NOT NULL,
	[ACCESS_DATE] [datetime] NOT NULL,
	[ACESS_TYPE] [nvarchar](250) NOT NULL,
	[FILE_NAME] [nvarchar](250) NOT NULL,
	[PRINT_BY_CODE] [nvarchar](50) NOT NULL,
	[PRINT_BY_NAME] [nvarchar](250) NOT NULL,
	[PRINT_BY_IP] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_DOCUMENT_NUMBER]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DOCUMENT_NUMBER](
	[CODE] [nvarchar](50) NOT NULL,
	[CODE_DOCUMENT] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_DOCUMENT_UPLOAD]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DOCUMENT_UPLOAD](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REFF_NO] [nvarchar](50) NOT NULL,
	[REFF_NAME] [nvarchar](250) NOT NULL,
	[REFF_TRX_CODE] [nvarchar](50) NOT NULL,
	[FILE_NAME] [nvarchar](250) NOT NULL,
	[DOC_FILE] [varbinary](max) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_DOCUMENT_UPLOAD_1] PRIMARY KEY CLUSTERED 
(
	[FILE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_EMAIL_NOTIFICATION_TASK]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_EMAIL_NOTIFICATION_TASK](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FROM_EMAIL] [nvarchar](250) NOT NULL,
	[TO_EMAIL] [nvarchar](250) NOT NULL,
	[TO_EMAIL_CC] [nvarchar](250) NULL,
	[TO_EMAIL_BCC] [nvarchar](250) NULL,
	[SUBJECT] [nvarchar](250) NOT NULL,
	[HEADER] [nvarchar](4000) NOT NULL,
	[BODY1] [varchar](8000) NULL,
	[BODY2] [varchar](8000) NULL,
	[BODY3] [varchar](8000) NULL,
	[FOOTER] [nvarchar](4000) NOT NULL,
	[ATTACHMENT] [nvarchar](4000) NULL,
	[DATE] [datetime] NULL,
	[SEND_DATE] [datetime] NULL,
	[SEND_STATUS] [nvarchar](50) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_EMPLOYEE_ABSENT]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_EMPLOYEE_ABSENT](
	[CODE] [nvarchar](50) NOT NULL,
	[EMP_CODE] [nvarchar](50) NOT NULL,
	[ABSENT_DATE] [datetime] NOT NULL,
	[ABSENT_TYPE] [nvarchar](50) NOT NULL,
	[STATUS] [nvarchar](10) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_EMPLOYEE_ABSENT] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_EMPLOYEE_BANK]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_EMPLOYEE_BANK](
	[CODE] [nvarchar](50) NOT NULL,
	[EMP_CODE] [nvarchar](50) NOT NULL,
	[MASTER_BANK_CODE] [nvarchar](50) NOT NULL,
	[BANK_ACCOUNT_NO] [nvarchar](20) NOT NULL,
	[BANK_ACCOUNT_NAME] [nvarchar](50) NOT NULL,
	[DEFAULT_FLAG] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_EMPLOYEE_BANK] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_EMPLOYEE_BRANCH]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_EMPLOYEE_BRANCH](
	[CODE] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[EMP_CODE] [nvarchar](50) NOT NULL,
	[IS_BASE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK__SYS_EMPL__AA1D43787EC42D96] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[BRANCH_CODE] ASC,
	[EMP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_EMPLOYEE_MAIN]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_EMPLOYEE_MAIN](
	[CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[DATE_OF_BIRTH] [datetime] NOT NULL,
	[NIK] [nvarchar](50) NOT NULL,
	[DEPARTMENT_CODE] [nvarchar](50) NOT NULL,
	[HEAD_EMP_CODE] [nvarchar](50) NOT NULL,
	[PROVINCE_CODE] [nvarchar](50) NOT NULL,
	[CITY_CODE] [nvarchar](50) NOT NULL,
	[ZIP_CODE] [nvarchar](50) NOT NULL,
	[SUB_DISTRICT] [nvarchar](250) NOT NULL,
	[VILLAGE] [nvarchar](250) NOT NULL,
	[ADDRESS] [nvarchar](400) NOT NULL,
	[AREA_PHONE_NO] [nvarchar](4) NOT NULL,
	[PHONE_NO] [nvarchar](15) NOT NULL,
	[AREA_HANDPHONE_NO] [nvarchar](4) NOT NULL,
	[HANDPHONE_NO] [nvarchar](15) NOT NULL,
	[EMAIL] [nvarchar](200) NOT NULL,
	[EMAIL2] [nvarchar](200) NULL,
	[PERSONAL_INFO] [nvarchar](400) NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_EMPLOYEE_MAIN] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_EMPLOYEE_NOTIFICATION]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_EMPLOYEE_NOTIFICATION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMP_CODE] [nvarchar](50) NOT NULL,
	[NOTIF_MESSAGE] [nvarchar](250) NULL,
	[IS_READ] [nvarchar](1) NULL,
	[LOG_DATE] [datetime] NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_EMPLOYEE_NOTIFICATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_EMPLOYEE_NOTIFICATION_SUBSCRIPTION]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_EMPLOYEE_NOTIFICATION_SUBSCRIPTION](
	[EMP_CODE] [nvarchar](50) NOT NULL,
	[NOTIF_CODE] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_EMPLOYEE_NOTIFICATION_SUBSCRIPTION] PRIMARY KEY CLUSTERED 
(
	[EMP_CODE] ASC,
	[NOTIF_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_EMPLOYEE_POSITION]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_EMPLOYEE_POSITION](
	[CODE] [nvarchar](50) NOT NULL,
	[EMP_CODE] [nvarchar](50) NOT NULL,
	[POSITION_CODE] [nvarchar](50) NOT NULL,
	[BASE_POSITION] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_EMPLOYEE_POSITION] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[EMP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_EMPLOYEE_STICKY_NOTES]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_EMPLOYEE_STICKY_NOTES](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMP_CODE] [nvarchar](50) NOT NULL,
	[REMARKS] [nvarchar](4000) NOT NULL,
	[DATE] [datetime] NOT NULL,
	[STATUS] [nvarchar](10) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_EMPLOYEE_STICKY_NOTES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_EMPLOYEE_TODO]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_EMPLOYEE_TODO](
	[CODE] [nvarchar](50) NOT NULL,
	[EMP_CODE] [nvarchar](50) NOT NULL,
	[TODO_CODE] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_EMPLOYEE_TODO] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_EMPLOYEE_WIDGET_SUBSCRIPTION]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_EMPLOYEE_WIDGET_SUBSCRIPTION](
	[WIDGET_CODE] [nvarchar](50) NOT NULL,
	[EMP_CODE] [nvarchar](50) NOT NULL,
	[WIDGET_ORIENTATION] [nvarchar](1) NOT NULL,
	[ACTION_FLAG] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_EMPLOYEE_WIDGET_SUBSCRIPTION] PRIMARY KEY CLUSTERED 
(
	[WIDGET_CODE] ASC,
	[EMP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_EOD_MODULE]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_EOD_MODULE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MODULE_CODE] [nvarchar](50) NULL,
	[PARENT_MODUL_CODE] [nvarchar](50) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[EOD_STATUS] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_SYS_EOD_MODULE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_EOD_TASK_LIST]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_EOD_TASK_LIST](
	[CODE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](500) NOT NULL,
	[SP_NAME] [nvarchar](500) NOT NULL,
	[ORDER_NO] [int] NOT NULL,
	[IS_DONE] [nvarchar](1) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_EOD_TASK_LIST] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_EOD_TASK_LIST_LOG]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_EOD_TASK_LIST_LOG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EOD_CODE] [nvarchar](50) NOT NULL,
	[EOD_DATE] [datetime] NOT NULL,
	[START_TIME] [datetime] NOT NULL,
	[END_TIME] [datetime] NOT NULL,
	[STATUS] [nvarchar](10) NOT NULL,
	[REASON] [nvarchar](4000) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_ERROR_LOG]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_ERROR_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LOG_DATE] [datetime] NOT NULL,
	[LOG_MESSAGE] [nvarchar](4000) NOT NULL,
	[SP_NAME] [nvarchar](250) NOT NULL,
	[PARAMETER] [nvarchar](4000) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_GENERAL_CODE]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GENERAL_CODE](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[IS_EDITABLE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_GENERAL_CODE] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_GENERAL_DOCUMENT]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GENERAL_DOCUMENT](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[IS_TEMP] [nvarchar](1) NOT NULL,
	[IS_PHYSICAL] [nvarchar](1) NOT NULL,
	[IS_ALLOW_OUT] [nvarchar](1) NOT NULL,
	[IS_COLLATERAL] [nvarchar](1) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_GENERAL_DOC] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_GENERAL_SUBCODE]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GENERAL_SUBCODE](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[GENERAL_CODE] [nvarchar](50) NOT NULL,
	[OJK_CODE] [nvarchar](10) NOT NULL,
	[ORDER_KEY] [int] NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_GENERAL_SUBCODE] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_GLOBAL_PARAM]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GLOBAL_PARAM](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[VALUE] [nvarchar](250) NOT NULL,
	[IS_EDITABLE] [nvarchar](1) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_GLOBAL_PARAM] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_HOLIDAY]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_HOLIDAY](
	[CODE] [nvarchar](50) NOT NULL,
	[HOLIDAY_DATE] [datetime] NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_MASTER_HOLIDAY] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_INTERFACE_EXT_ZIPCODE]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_INTERFACE_EXT_ZIPCODE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REF_ZIPCODE_ID] [nvarchar](50) NOT NULL,
	[POSTAL_CODE] [nvarchar](5) NOT NULL,
	[SUB_DISTRICT] [nvarchar](250) NOT NULL,
	[VILLAGE] [nvarchar](250) NOT NULL,
	[ZIP_CODE_NAME] [nvarchar](250) NOT NULL,
	[PROVINCE_CODE] [nvarchar](50) NOT NULL,
	[PROVINCE_NAME] [nvarchar](250) NOT NULL,
	[CITY_CODE] [nvarchar](50) NOT NULL,
	[CITY_NAME] [nvarchar](250) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NULL,
	[JOB_STATUS] [nvarchar](10) NULL,
	[FAILED_REMARKS] [nvarchar](4000) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[BI_CODE] [nvarchar](50) NULL,
 CONSTRAINT [PK_SYS_INTERFACE_EXT_ZIPCODE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[REF_ZIPCODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_INTERFACE_SYS_BRANCH]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_INTERFACE_SYS_BRANCH](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[BUSINESS_UNIT] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_INTERFACE_SYS_BRANCH] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_INTERFACE_SYS_EMPLOYEE_BRANCH]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_INTERFACE_SYS_EMPLOYEE_BRANCH](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[BRANCH_NAME] [nvarchar](250) NOT NULL,
	[EMPLOYEE_CODE] [nvarchar](50) NOT NULL,
	[EMPLOYEE_NAME] [nvarchar](20) NOT NULL,
	[UPDATE_TYPE] [nvarchar](20) NOT NULL,
	[IS_BASE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_INTERFACE_SYS_EMPLOYEE_BRANCH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_INTERFACE_SYS_EMPLOYEE_MAIN]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_INTERFACE_SYS_EMPLOYEE_MAIN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[EMAIL] [nvarchar](200) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_INTERFACE_SYS_EMPLOYEE_MAIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_INTERFACE_SYS_EMPLOYEE_POSITION]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_INTERFACE_SYS_EMPLOYEE_POSITION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[EMPLOYEE_CODE] [nvarchar](50) NOT NULL,
	[POSITION_CODE] [nvarchar](50) NOT NULL,
	[POSITION_NAME] [nvarchar](250) NOT NULL,
	[BASE_POSITION] [nvarchar](1) NOT NULL,
	[UPDATE_TYPE] [nvarchar](20) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_INTERFACE_SYS_EMPLOYEE_POSITION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_IT_PARAM]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_IT_PARAM](
	[SYSTEM_DATE] [datetime] NOT NULL,
	[DB_MAIL_PROFILE] [nvarchar](50) NOT NULL,
	[USER_AUTO_INACTIVE] [int] NOT NULL,
	[PASSWORD_MAX_REPEAT_TIME] [int] NOT NULL,
	[PASSWORD_MAX_LOGIN_TRY] [int] NOT NULL,
	[PASSWORD_NEXT_CHANGE] [int] NOT NULL,
	[PASSWORD_MIN_CHAR] [int] NOT NULL,
	[PASSWORD_MAX_CHAR] [int] NOT NULL,
	[PASSWORD_REGEX] [nvarchar](1) NOT NULL,
	[PASSWORD_USE_UPPERCASE] [nvarchar](1) NOT NULL,
	[PASSWORD_USE_LOWERCASE] [nvarchar](1) NOT NULL,
	[PASSWORD_CONTAIN_NUMBER] [nvarchar](1) NOT NULL,
	[IS_EOD_RUNNING] [nvarchar](1) NOT NULL,
	[EOD_MANUAL_FLAG] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_JOB_TASKLIST]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_JOB_TASKLIST](
	[CODE] [nvarchar](50) NOT NULL,
	[TYPE] [nvarchar](20) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[SP_NAME] [nvarchar](250) NOT NULL,
	[ORDER_NO] [int] NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[ROW_TO_PROCESS] [int] NOT NULL,
	[EOD_STATUS] [nvarchar](20) NULL,
	[EOD_REMARK] [nvarchar](4000) NULL,
	[LAST_ID] [bigint] NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_JOB_TASKLIST] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_JOB_TASKLIST_LOG]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_JOB_TASKLIST_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JOB_TASKLIST_CODE] [nvarchar](50) NOT NULL,
	[STATUS] [nvarchar](20) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[LOG_DESCRIPTION] [nvarchar](400) NOT NULL,
	[RUN_BY] [nvarchar](20) NOT NULL,
	[FROM_ID] [bigint] NOT NULL,
	[TO_ID] [bigint] NOT NULL,
	[NUMBER_OF_ROWS] [int] NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_JOB_TASKLIST_LOG_HISTORY]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_JOB_TASKLIST_LOG_HISTORY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JOB_TASKLIST_CODE] [nvarchar](50) NOT NULL,
	[STATUS] [nvarchar](20) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[LOG_DESCRIPTION] [nvarchar](400) NOT NULL,
	[RUN_BY] [nvarchar](20) NOT NULL,
	[FROM_ID] [bigint] NOT NULL,
	[TO_ID] [bigint] NOT NULL,
	[NUMBER_OF_ROWS] [int] NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MENU]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MENU](
	[CODE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[ABBREVIATION] [nvarchar](50) NOT NULL,
	[MODULE_CODE] [nvarchar](50) NULL,
	[PARENT_MENU_CODE] [nvarchar](50) NULL,
	[ROUTING_MENU] [nvarchar](250) NULL,
	[URL_MENU] [nvarchar](250) NOT NULL,
	[ORDER_KEY] [int] NOT NULL,
	[CSS_ICON] [nvarchar](250) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[TYPE] [nvarchar](5) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_MENU_1] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MENU_ROLE]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MENU_ROLE](
	[ROLE_CODE] [nvarchar](50) NOT NULL,
	[MENU_CODE] [nvarchar](50) NOT NULL,
	[ROLE_NAME] [nvarchar](250) NOT NULL,
	[ROLE_ACCESS] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_MENU_ROLE_1] PRIMARY KEY CLUSTERED 
(
	[ROLE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MODULE]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MODULE](
	[CODE] [nvarchar](50) NOT NULL,
	[MODULE_NAME] [nvarchar](250) NOT NULL,
	[MODULE_IP] [nvarchar](250) NOT NULL,
	[MODULE_COLOUR] [nvarchar](20) NULL,
	[MODULE_ICON] [nvarchar](50) NOT NULL,
	[ORDER_KEY] [int] NOT NULL,
	[SERVER_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_MODULE] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_NEWS]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_NEWS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[LINK] [nvarchar](250) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_NOTIFICATION]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_NOTIFICATION](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_NOTIFICATION] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_POSITION]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_POSITION](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_POSITION] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_PROVINCE]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_PROVINCE](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[BI_CODE] [nvarchar](15) NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_PROVINCE] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_REGION]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_REGION](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_REGION] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_REPORT]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_REPORT](
	[CODE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[TABLE_NAME] [nvarchar](250) NOT NULL,
	[SP_NAME] [nvarchar](250) NOT NULL,
	[SCREEN_NAME] [nvarchar](250) NOT NULL,
	[RPT_NAME] [nvarchar](250) NOT NULL,
	[MODULE_CODE] [nvarchar](50) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_REPORT] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_REPORT_LOG]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_REPORT_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REPORT_CODE] [nvarchar](50) NOT NULL,
	[REPORT_NAME] [nvarchar](250) NOT NULL,
	[PRINT_DATE] [datetime] NOT NULL,
	[PRINT_BY_CODE] [nvarchar](50) NOT NULL,
	[PRINT_BY_NAME] [nvarchar](250) NOT NULL,
	[PRINT_BY_IP] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_ROLE_GROUP]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_ROLE_GROUP](
	[CODE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[APPLICATION_CODE] [nvarchar](2) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_MASTER_GROUP_SEC] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_ROLE_GROUP_DETAIL]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_ROLE_GROUP_DETAIL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ROLE_GROUP_CODE] [nvarchar](50) NOT NULL,
	[ROLE_CODE] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_ROLE_GROUP_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_SUPPLIER]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_SUPPLIER](
	[CODE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](4000) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_SUPPLIER] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_TODO]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_TODO](
	[CODE] [nvarchar](50) NOT NULL,
	[TODO_NAME] [nvarchar](250) NOT NULL,
	[LINK_ADDRESS] [nvarchar](250) NOT NULL,
	[QUERY] [nvarchar](250) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_MASTER_TODO] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_TRANSACTION_LOCK]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_TRANSACTION_LOCK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRX_NO] [nvarchar](50) NOT NULL,
	[TRX_TABLE] [nvarchar](50) NOT NULL,
	[IS_LOCK] [nvarchar](50) NOT NULL,
	[LOCKED_DATE] [datetime] NOT NULL,
	[LOCKED_BY] [nvarchar](50) NOT NULL,
	[LOCKED_BY_NAME] [nvarchar](250) NOT NULL,
	[LOCKED_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[RELEASED_TYPE] [nvarchar](50) NULL,
	[RELEASED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_USER_HISTORY_PASSWORD]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USER_HISTORY_PASSWORD](
	[RUNNING_NUMBER] [int] IDENTITY(1,1) NOT NULL,
	[USER_CODE] [nvarchar](250) NOT NULL,
	[PASSWORD_TYPE] [nvarchar](10) NOT NULL,
	[DATE_CHANGE_PASS] [datetime] NOT NULL,
	[OLDPASS] [nvarchar](20) NOT NULL,
	[NEWPASS] [nvarchar](20) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_USER_LOGIN_LOG]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USER_LOGIN_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_CODE] [nvarchar](250) NOT NULL,
	[LOGIN_DATE] [datetime] NOT NULL,
	[FLAG_CODE] [nvarchar](20) NOT NULL,
	[SESSION_ID] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_USER_LOGIN_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_USER_MAIN]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USER_MAIN](
	[CODE] [nvarchar](250) NOT NULL,
	[UPASS] [nvarchar](250) NOT NULL,
	[UPASSAPPROVAL] [nvarchar](250) NOT NULL,
	[LAST_LOGIN_DATE] [datetime] NULL,
	[LAST_FAIL_COUNT] [int] NOT NULL,
	[NEXT_CHANGE_PASS] [datetime] NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_USER_MAIN] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_USER_MAIN_GROUP_SEC]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USER_MAIN_GROUP_SEC](
	[ROLE_GROUP_CODE] [nvarchar](50) NOT NULL,
	[USER_CODE] [nvarchar](250) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_USER_MAIN_GROUP_SEC_1] PRIMARY KEY CLUSTERED 
(
	[ROLE_GROUP_CODE] ASC,
	[USER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_USER_MAIN_ROLE_SEC]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USER_MAIN_ROLE_SEC](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_CODE] [nvarchar](250) NOT NULL,
	[ROLE_CODE] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_USER_MAIN_ROLE_SEC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_USER_REPORT]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USER_REPORT](
	[CODE] [nvarchar](50) NOT NULL,
	[USER_CODE] [nvarchar](250) NOT NULL,
	[REPORT_CODE] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_EMPLOYEE_REPORT] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_USER_RESET_PASSWORD]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USER_RESET_PASSWORD](
	[CODE] [nvarchar](50) NOT NULL,
	[REQUEST_DATE] [datetime] NOT NULL,
	[USER_CODE] [nvarchar](250) NOT NULL,
	[PASSWORD_TYPE] [nvarchar](10) NOT NULL,
	[NEW_PASSWORD] [nvarchar](20) NOT NULL,
	[REMARKS] [nvarchar](4000) NOT NULL,
	[STATUS] [nvarchar](10) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_USER_RESET_PASSWORD] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_WIDGET]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_WIDGET](
	[CODE] [nvarchar](50) NOT NULL,
	[FILE_NAME] [nvarchar](250) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_WIDGET] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_ZIP_CODE]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_ZIP_CODE](
	[CODE] [nvarchar](50) NOT NULL,
	[POSTAL_CODE] [nvarchar](5) NOT NULL,
	[PROVINCE_CODE] [nvarchar](50) NOT NULL,
	[CITY_CODE] [nvarchar](50) NOT NULL,
	[SUB_DISTRICT] [nvarchar](250) NOT NULL,
	[VILLAGE] [nvarchar](250) NOT NULL,
	[ZIP_CODE_NAME] [nvarchar](250) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_ZIP_CODE] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACTION_LOCK]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTION_LOCK](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [nvarchar](50) NOT NULL,
	[USER_NAME] [nvarchar](250) NULL,
	[REFF_NAME] [nvarchar](250) NULL,
	[REFF_CODE] [nvarchar](50) NOT NULL,
	[ACCESS_DATE] [datetime] NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_TRANSACTION_LOCK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACTION_LOCK_HISTORY]    Script Date: 12/8/2023 3:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTION_LOCK_HISTORY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [nvarchar](50) NOT NULL,
	[USER_NAME] [nvarchar](250) NULL,
	[REFF_NAME] [nvarchar](250) NULL,
	[REFF_CODE] [nvarchar](50) NOT NULL,
	[ACCESS_DATE] [datetime] NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_TRANSACTION_LOCK_HISTORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
