USE [IFINSCR]
GO
/****** Object:  Table [dbo].[MASTER_DASHBOARD]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_DASHBOARD](
	[CODE] [nvarchar](50) NOT NULL,
	[DASHBOARD_NAME] [nvarchar](250) NOT NULL,
	[DASHBOARD_TYPE] [nvarchar](20) NOT NULL,
	[DASHBOARD_GRID] [nvarchar](50) NOT NULL,
	[SP_NAME] [nvarchar](250) NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[IS_EDITABLE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_DASHBOARD] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_DASHBOARD_USER]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_DASHBOARD_USER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_CODE] [nvarchar](50) NOT NULL,
	[EMPLOYEE_NAME] [nvarchar](250) NOT NULL,
	[DASHBOARD_CODE] [nvarchar](50) NULL,
	[ORDER_KEY] [int] NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_DASHBOARD_USER_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_FAQ]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_FAQ](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QUESTION] [nvarchar](4000) NULL,
	[ANSWER] [nvarchar](4000) NULL,
	[FILENAME] [nvarchar](250) NULL,
	[PATHS] [nvarchar](250) NULL,
	[IS_ACTIVE] [nvarchar](1) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_FAQ] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_GRADE]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_GRADE](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_GRADE] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_GRADE_DETAIL]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_GRADE_DETAIL](
	[CODE] [nvarchar](50) NOT NULL,
	[GRADE_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[MINIMUM_VALUE] [decimal](18, 2) NOT NULL,
	[MAXIMAL_VALUE] [decimal](18, 2) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_GRADE_DETAIL] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_SCORING_GROUP]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_SCORING_GROUP](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[SCORING_TYPE] [nvarchar](50) NOT NULL,
	[GRADE_CODE] [nvarchar](50) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[ITEM_COUNT] [int] NOT NULL,
	[ITEM_CODE_1] [nvarchar](50) NULL,
	[OPERATOR_1] [nvarchar](50) NULL,
	[ITEM_VALUE_FROM_1] [nvarchar](50) NULL,
	[ITEM_VALUE_TO_1] [nvarchar](50) NULL,
	[ITEM_CODE_2] [nvarchar](50) NULL,
	[OPERATOR_2] [nvarchar](50) NULL,
	[ITEM_VALUE_FROM_2] [nvarchar](50) NULL,
	[ITEM_VALUE_TO_2] [nvarchar](50) NULL,
	[ITEM_CODE_3] [nvarchar](50) NULL,
	[OPERATOR_3] [nvarchar](50) NULL,
	[ITEM_VALUE_FROM_3] [nvarchar](50) NULL,
	[ITEM_VALUE_TO_3] [nvarchar](50) NULL,
	[ITEM_CODE_4] [nvarchar](50) NULL,
	[OPERATOR_4] [nvarchar](50) NULL,
	[ITEM_VALUE_FROM_4] [nvarchar](50) NULL,
	[ITEM_VALUE_TO_4] [nvarchar](50) NULL,
	[ITEM_CODE_5] [nvarchar](50) NULL,
	[OPERATOR_5] [nvarchar](50) NULL,
	[ITEM_VALUE_FROM_5] [nvarchar](50) NULL,
	[ITEM_VALUE_TO_5] [nvarchar](50) NULL,
	[ITEM_CODE_6] [nvarchar](50) NULL,
	[OPERATOR_6] [nvarchar](50) NULL,
	[ITEM_VALUE_FROM_6] [nvarchar](50) NULL,
	[ITEM_VALUE_TO_6] [nvarchar](50) NULL,
	[ITEM_CODE_7] [nvarchar](50) NULL,
	[OPERATOR_7] [nvarchar](50) NULL,
	[ITEM_VALUE_FROM_7] [nvarchar](50) NULL,
	[ITEM_VALUE_TO_7] [nvarchar](50) NULL,
	[ITEM_CODE_8] [nvarchar](50) NULL,
	[OPERATOR_8] [nvarchar](50) NULL,
	[ITEM_VALUE_FROM_8] [nvarchar](50) NULL,
	[ITEM_VALUE_TO_8] [nvarchar](50) NULL,
	[ITEM_CODE_9] [nvarchar](50) NULL,
	[OPERATOR_9] [nvarchar](50) NULL,
	[ITEM_VALUE_FROM_9] [nvarchar](50) NULL,
	[ITEM_VALUE_TO_9] [nvarchar](50) NULL,
	[ITEM_CODE_10] [nvarchar](50) NULL,
	[OPERATOR_10] [nvarchar](50) NULL,
	[ITEM_VALUE_FROM_10] [nvarchar](50) NULL,
	[ITEM_VALUE_TO_10] [nvarchar](50) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_SCORING_GROUP] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_SCORING_GROUP_CATEGORY]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_SCORING_GROUP_CATEGORY](
	[CODE] [nvarchar](50) NOT NULL,
	[SCORING_GROUP_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[RATIO_GROUP_PCT] [decimal](9, 6) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_SCORING_GROUP_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_SCORING_GROUP_CATEGORY_ITEM]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_SCORING_GROUP_CATEGORY_ITEM](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SCORING_GROUP_CATEGORY_CODE] [nvarchar](50) NOT NULL,
	[SCORING_ITEM_CODE] [nvarchar](50) NOT NULL,
	[RATIO_ITEM_PCT] [decimal](9, 6) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_SCORING_GROUP_CATEGORY_ITEM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_SCORING_ITEM]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_SCORING_ITEM](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[DATA_TYPE] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_SCORING_ITEM] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_SCORING_ITEM_DETAIL]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_SCORING_ITEM_DETAIL](
	[CODE] [nvarchar](50) NOT NULL,
	[SCORING_ITEM_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[OPERATOR] [nvarchar](50) NOT NULL,
	[MINIMUM_VALUE] [nvarchar](4000) NULL,
	[MAXIMUM_VALUE] [nvarchar](4000) NULL,
	[SCORE_AMOUNT] [decimal](18, 2) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_SCORING_ITEM_DETAIL] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_SCORING_PARAM]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_SCORING_PARAM](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
	[PARAM_FIELD] [nvarchar](50) NOT NULL,
	[PARAM_DATA_TYPE] [nvarchar](250) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_SCORING_PARAM] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RPT_RESULT_SCORING]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT_RESULT_SCORING](
	[USER_ID] [nvarchar](50) NOT NULL,
	[REPORT_COMPANY] [nvarchar](250) NOT NULL,
	[REPORT_TITLE] [nvarchar](250) NOT NULL,
	[REPORT_IMAGE] [nvarchar](250) NOT NULL,
	[FILTER_FROM_DATE] [datetime] NOT NULL,
	[FILTER_TO_DATE] [datetime] NOT NULL,
	[FILTER_BRANCH_CODE] [nvarchar](50) NOT NULL,
	[FILTER_BRANCH_NAME] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NULL,
	[BRANCH_NAME] [nvarchar](250) NULL,
	[SCORING_GRADE] [nvarchar](50) NULL,
	[TRANSACTION_NO] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](4000) NULL,
	[SCORING_TYPE] [nvarchar](250) NULL,
	[SCORING_VALUE] [decimal](18, 2) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[IS_CONDITION] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCORING_CATEGORY]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCORING_CATEGORY](
	[CODE] [nvarchar](50) NOT NULL,
	[SCORING_CODE] [nvarchar](50) NOT NULL,
	[SCORING_GROUP_CATEGORY_CODE] [nvarchar](50) NOT NULL,
	[RATIO_PCT] [decimal](9, 6) NOT NULL,
	[TOTAL_SCORE_AMOUNT] [decimal](18, 2) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SCORING_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCORING_CATEGORY_ITEM]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCORING_CATEGORY_ITEM](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SCORING_CATEGORY_CODE] [nvarchar](50) NOT NULL,
	[SCORING_ITEM_CODE] [nvarchar](50) NOT NULL,
	[SCORING_ITEM_DETAIL_CODE] [nvarchar](50) NULL,
	[PARAM_VALUE] [nvarchar](4000) NULL,
	[ITEM_SCORE_AMOUNT] [decimal](18, 2) NOT NULL,
	[ITEM_RATIO_PCT] [decimal](9, 6) NOT NULL,
	[TOTAL_ITEM_SCORE_AMOUNT] [decimal](18, 2) NOT NULL,
	[STATUS_DATA] [nvarchar](20) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SCORING_CATEGORY_ITEM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCORING_MAIN]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCORING_MAIN](
	[CODE] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[BRANCH_NAME] [nvarchar](250) NOT NULL,
	[SCORING_DATE] [datetime] NULL,
	[SCORING_STATUS] [nvarchar](10) NOT NULL,
	[SCORING_REQUEST_CODE] [nvarchar](50) NOT NULL,
	[TOTAL_SCORE] [decimal](18, 2) NOT NULL,
	[SCORING_GROUP_CODE] [nvarchar](50) NOT NULL,
	[SCORING_GRADE_DETAIL_CODE] [nvarchar](50) NOT NULL,
	[REMARKS] [nvarchar](4000) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SCORING_MAIN] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCORING_REQUEST]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCORING_REQUEST](
	[CODE] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[BRANCH_NAME] [nvarchar](250) NOT NULL,
	[REFF_CODE] [nvarchar](50) NOT NULL,
	[REFF_NAME] [nvarchar](50) NOT NULL,
	[REFF_TYPE] [nvarchar](50) NULL,
	[REFF_OBJECT] [nvarchar](4000) NOT NULL,
	[REFF_REMARKS] [nvarchar](4000) NOT NULL,
	[STATUS] [nvarchar](10) NOT NULL,
	[DATE] [datetime] NOT NULL,
	[SCORING_RESULT_DATE] [datetime] NULL,
	[SCORING_RESULT_VALUE] [decimal](18, 2) NULL,
	[SCORING_RESULT_GRADE] [nvarchar](50) NULL,
	[SCORING_RESULT_REMARKS] [nvarchar](4000) NULL,
	[PROCESS_DATE] [datetime] NULL,
	[PROCESS_REFF_NO] [nvarchar](50) NULL,
	[PROCESS_REFF_NAME] [nvarchar](250) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SCORING_REQUEST] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCORING_REQUEST_DETAIL]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCORING_REQUEST_DETAIL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SCORING_REQUEST_CODE] [nvarchar](50) NOT NULL,
	[SCORING_ITEM_CODE] [nvarchar](50) NOT NULL,
	[SCORING_ITEM_VALUE] [nvarchar](4000) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SCORING_REQUEST_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCR_INTERFACE_SCORING_REQUEST]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCR_INTERFACE_SCORING_REQUEST](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[BRANCH_NAME] [nvarchar](250) NOT NULL,
	[REFF_CODE] [nvarchar](50) NOT NULL,
	[REFF_NAME] [nvarchar](50) NOT NULL,
	[REFF_TYPE] [nvarchar](50) NULL,
	[REFF_OBJECT] [nvarchar](4000) NOT NULL,
	[REFF_REMARKS] [nvarchar](4000) NOT NULL,
	[STATUS] [nvarchar](10) NOT NULL,
	[DATE] [datetime] NOT NULL,
	[SCORING_RESULT_DATE] [datetime] NULL,
	[SCORING_RESULT_VALUE] [decimal](18, 2) NULL,
	[SCORING_RESULT_GRADE] [nvarchar](50) NULL,
	[SCORING_RESULT_REMARKS] [nvarchar](4000) NULL,
	[PROCESS_DATE] [datetime] NULL,
	[PROCESS_REFF_NO] [nvarchar](50) NULL,
	[PROCESS_REFF_NAME] [nvarchar](250) NULL,
	[JOB_STATUS] [nvarchar](10) NOT NULL,
	[FAILED_REMARKS] [nvarchar](4000) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SCR_INTERFACE_SCORING_REQUEST] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCR_INTERFACE_SCORING_REQUEST_DETAIL]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCR_INTERFACE_SCORING_REQUEST_DETAIL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SCORING_REQUEST_CODE] [nvarchar](50) NOT NULL,
	[SCORING_ITEM_CODE] [nvarchar](50) NOT NULL,
	[SCORING_ITEM_VALUE] [nvarchar](4000) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SCR_INTERFACE_SCORING_REQUEST_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_CALENDER_EMPLOYEE]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_CALENDER_EMPLOYEE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](50) NOT NULL,
	[START] [nvarchar](50) NOT NULL,
	[ENDDAY] [nvarchar](50) NOT NULL,
	[CLASSNAME] [nvarchar](50) NOT NULL,
	[EMPLOYEE_CODE] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_DIMENSION]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DIMENSION](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[TYPE] [nvarchar](10) NOT NULL,
	[TABLE_NAME] [nvarchar](50) NULL,
	[COLUMN_NAME] [nvarchar](50) NULL,
	[PRIMARY_COLUMN] [nvarchar](50) NULL,
	[FUNCTION_NAME] [nvarchar](250) NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_UTIL_DOC_DIMENSION] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_DIMENSION_VALUE]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DIMENSION_VALUE](
	[CODE] [nvarchar](50) NOT NULL,
	[DIMENSION_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[VALUE] [nvarchar](250) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_DIMENSION_VALUE] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_DOC_ACCESS_LOG]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DOC_ACCESS_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MODULE_NAME] [nvarchar](50) NOT NULL,
	[TRANSACTION_NAME] [nvarchar](250) NOT NULL,
	[TRANSACTION_NO] [nvarchar](50) NOT NULL,
	[ACCESS_DATE] [datetime] NOT NULL,
	[ACESS_TYPE] [nvarchar](250) NOT NULL,
	[FILE_NAME] [nvarchar](250) NOT NULL,
	[PRINT_BY_CODE] [nvarchar](50) NOT NULL,
	[PRINT_BY_NAME] [nvarchar](250) NOT NULL,
	[PRINT_BY_IP] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_DOCUMENT_UPLOAD]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DOCUMENT_UPLOAD](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REFF_NO] [nvarchar](50) NOT NULL,
	[REFF_NAME] [nvarchar](250) NOT NULL,
	[REFF_TRX_CODE] [nvarchar](50) NOT NULL,
	[FILE_NAME] [nvarchar](250) NOT NULL,
	[DOC_FILE] [varbinary](max) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_DOCUMENT_UPLOAD_1] PRIMARY KEY CLUSTERED 
(
	[FILE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_ERROR_LOG]    Script Date: 12/8/2023 3:37:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_ERROR_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LOG_DATE] [datetime] NOT NULL,
	[LOG_MESSAGE] [nvarchar](4000) NOT NULL,
	[SP_NAME] [nvarchar](250) NOT NULL,
	[PARAMETER] [nvarchar](4000) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_GENERAL_CODE]    Script Date: 12/8/2023 3:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GENERAL_CODE](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[IS_EDITABLE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_GENERAL_CODE] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_GENERAL_DOCUMENT]    Script Date: 12/8/2023 3:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GENERAL_DOCUMENT](
	[CODE] [nvarchar](50) NOT NULL,
	[DOCUMENT_NAME] [nvarchar](250) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_GENERAL_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_GENERAL_SUBCODE]    Script Date: 12/8/2023 3:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GENERAL_SUBCODE](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[GENERAL_CODE] [nvarchar](50) NOT NULL,
	[OJK_CODE] [nvarchar](50) NOT NULL,
	[ORDER_KEY] [int] NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_GENERAL_SUBCODE] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_GLOBAL_PARAM]    Script Date: 12/8/2023 3:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GLOBAL_PARAM](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[VALUE] [nvarchar](250) NOT NULL,
	[IS_EDITABLE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_GLOBAL_PARAM] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_JOB_TASKLIST]    Script Date: 12/8/2023 3:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_JOB_TASKLIST](
	[CODE] [nvarchar](50) NOT NULL,
	[TYPE] [nvarchar](20) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[SP_NAME] [nvarchar](250) NOT NULL,
	[ORDER_NO] [int] NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[LAST_ID] [bigint] NOT NULL,
	[ROW_TO_PROCESS] [int] NOT NULL,
	[WHEN_ERROR] [nvarchar](20) NULL,
	[EOD_STATUS] [nvarchar](20) NULL,
	[EOD_REMARK] [nvarchar](4000) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_JOB_TASKLIST] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_JOB_TASKLIST_LOG]    Script Date: 12/8/2023 3:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_JOB_TASKLIST_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JOB_TASKLIST_CODE] [nvarchar](50) NOT NULL,
	[STATUS] [nvarchar](20) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[LOG_DESCRIPTION] [nvarchar](400) NOT NULL,
	[RUN_BY] [nvarchar](20) NOT NULL,
	[FROM_ID] [bigint] NOT NULL,
	[TO_ID] [bigint] NOT NULL,
	[NUMBER_OF_ROWS] [int] NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_JOB_TASKLIST_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_JOB_TASKLIST_LOG_HISTORY]    Script Date: 12/8/2023 3:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_JOB_TASKLIST_LOG_HISTORY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JOB_TASKLIST_CODE] [nvarchar](50) NOT NULL,
	[STATUS] [nvarchar](20) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[LOG_DESCRIPTION] [nvarchar](400) NOT NULL,
	[RUN_BY] [nvarchar](20) NOT NULL,
	[FROM_ID] [bigint] NOT NULL,
	[TO_ID] [bigint] NOT NULL,
	[NUMBER_OF_ROWS] [int] NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_REPORT]    Script Date: 12/8/2023 3:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_REPORT](
	[CODE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[REPORT_TYPE] [nvarchar](15) NOT NULL,
	[TABLE_NAME] [nvarchar](250) NOT NULL,
	[SP_NAME] [nvarchar](250) NOT NULL,
	[SCREEN_NAME] [nvarchar](250) NOT NULL,
	[RPT_NAME] [nvarchar](250) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_REPORT] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_REPORT_LOG]    Script Date: 12/8/2023 3:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_REPORT_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REPORT_CODE] [nvarchar](50) NOT NULL,
	[REPORT_NAME] [nvarchar](250) NOT NULL,
	[PRINT_DATE] [datetime] NOT NULL,
	[PRINT_BY_CODE] [nvarchar](50) NOT NULL,
	[PRINT_BY_NAME] [nvarchar](250) NOT NULL,
	[PRINT_BY_IP] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_TODO]    Script Date: 12/8/2023 3:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_TODO](
	[CODE] [nvarchar](50) NOT NULL,
	[TODO_NAME] [nvarchar](250) NOT NULL,
	[LINK_ADDRESS] [nvarchar](250) NOT NULL,
	[QUERY] [nvarchar](250) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_TODO] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_TODO_EMPLOYEE]    Script Date: 12/8/2023 3:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_TODO_EMPLOYEE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_CODE] [nvarchar](50) NOT NULL,
	[EMPLOYEE_NAME] [nvarchar](250) NOT NULL,
	[TODO_CODE] [nvarchar](50) NOT NULL,
	[PRIORITY] [nvarchar](10) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_TODO_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACTION_LOCK]    Script Date: 12/8/2023 3:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTION_LOCK](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [nvarchar](50) NOT NULL,
	[USER_NAME] [nvarchar](250) NULL,
	[REFF_NAME] [nvarchar](250) NULL,
	[REFF_CODE] [nvarchar](50) NOT NULL,
	[ACCESS_DATE] [datetime] NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_TRANSACTION_LOCK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACTION_LOCK_HISTORY]    Script Date: 12/8/2023 3:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTION_LOCK_HISTORY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [nvarchar](50) NOT NULL,
	[USER_NAME] [nvarchar](250) NULL,
	[REFF_NAME] [nvarchar](250) NULL,
	[REFF_CODE] [nvarchar](50) NOT NULL,
	[ACCESS_DATE] [datetime] NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_TRANSACTION_LOCK_HISTORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
