USE [IFINAPV]
GO
/****** Object:  Table [dbo].[APPROVAL_LOG]    Script Date: 12/8/2023 3:33:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPROVAL_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[APPROVAL_CODE] [nvarchar](50) NOT NULL,
	[LOG_STATUS] [nvarchar](10) NOT NULL,
	[LOG_DATE] [datetime] NOT NULL,
	[LOG_EMP_CODE] [nvarchar](50) NOT NULL,
	[LOG_EMP_NAME] [nvarchar](250) NOT NULL,
	[LOG_REMARKS] [nvarchar](4000) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_APPROVAL_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPROVAL_MAIN]    Script Date: 12/8/2023 3:33:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPROVAL_MAIN](
	[CODE] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[BRANCH_NAME] [nvarchar](250) NOT NULL,
	[APPROVAL_STATUS] [nvarchar](10) NOT NULL,
	[APPROVAL_DATE] [datetime] NOT NULL,
	[APPROVAL_CODE] [nvarchar](50) NOT NULL,
	[APPROVAL_AMOUNT] [decimal](18, 2) NOT NULL,
	[APPROVAL_REMARKS] [nvarchar](4000) NOT NULL,
	[CURRENT_ACTIVE_LEVEL] [int] NOT NULL,
	[LAST_RESULT_BY_EMP_CODE] [nvarchar](50) NULL,
	[LAST_RESULT_BY_EMP_NAME] [nvarchar](250) NULL,
	[LAST_RESULT_RESULT_DATE] [datetime] NULL,
	[FILE_NAME] [nvarchar](250) NULL,
	[PATHS] [nvarchar](250) NULL,
	[ESCALATION_COUNT] [int] NULL,
	[ESCALATION_STATUS] [nvarchar](10) NULL,
	[REQUEST_CODE] [nvarchar](50) NULL,
	[EXPIRED_DATE] [datetime] NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_APPROVAL_MAIN] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPROVAL_MAIN_HISTORY]    Script Date: 12/8/2023 3:33:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPROVAL_MAIN_HISTORY](
	[CODE] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[BRANCH_NAME] [nvarchar](250) NOT NULL,
	[APPROVAL_STATUS] [nvarchar](10) NOT NULL,
	[APPROVAL_DATE] [datetime] NOT NULL,
	[APPROVAL_CODE] [nvarchar](50) NOT NULL,
	[APPROVAL_AMOUNT] [decimal](18, 2) NOT NULL,
	[APPROVAL_REMARKS] [nvarchar](4000) NOT NULL,
	[CURRENT_ACTIVE_LEVEL] [int] NOT NULL,
	[LAST_RESULT_BY_EMP_CODE] [nvarchar](50) NULL,
	[LAST_RESULT_BY_EMP_NAME] [nvarchar](50) NULL,
	[LAST_RESULT_RESULT_DATE] [datetime] NULL,
	[FILE_NAME] [nvarchar](250) NULL,
	[PATHS] [nvarchar](250) NULL,
	[REQUEST_CODE] [nvarchar](50) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_APPROVAL_MAIN_HISTORY] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPROVAL_REQUEST]    Script Date: 12/8/2023 3:33:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPROVAL_REQUEST](
	[CODE] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[BRANCH_NAME] [nvarchar](250) NOT NULL,
	[REQUEST_STATUS] [nvarchar](50) NOT NULL,
	[REQUEST_DATE] [datetime] NOT NULL,
	[REQUEST_AMOUNT] [decimal](18, 2) NOT NULL,
	[REQUEST_REMARKS] [nvarchar](4000) NOT NULL,
	[REFF_MODULE_CODE] [nvarchar](10) NOT NULL,
	[REFF_NO] [nvarchar](50) NOT NULL,
	[REFF_NAME] [nvarchar](50) NOT NULL,
	[PATHS] [nvarchar](250) NULL,
	[APPROVAL_CATEGORY_CODE] [nvarchar](50) NOT NULL,
	[APPROVAL_STATUS] [nvarchar](10) NULL,
	[EXPIRED_DATE] [datetime] NULL,
	[MESSAGE_ERRROR] [nvarchar](4000) NULL,
	[AUTO_APPROVE_OR_REJECT] [nvarchar](50) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_APPROVAL_REQUEST] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPROVAL_REQUEST_DIMENSION]    Script Date: 12/8/2023 3:33:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPROVAL_REQUEST_DIMENSION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REQUEST_CODE] [nvarchar](50) NOT NULL,
	[DIMENSION_CODE] [nvarchar](50) NOT NULL,
	[DIMENSION_VALUE] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_APPROVAL_REQUEST_DIMENSION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPROVAL_REQUEST_DOCUMENT]    Script Date: 12/8/2023 3:33:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPROVAL_REQUEST_DOCUMENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REQUEST_CODE] [nvarchar](50) NOT NULL,
	[DOCUMENT_CODE] [nvarchar](20) NOT NULL,
	[DOCUMENT_REMARKS] [nvarchar](4000) NULL,
	[FILE_NAME] [nvarchar](250) NULL,
	[PATHS] [nvarchar](250) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_APPROVAL_REQUEST_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPROVAL_SCHEDULE]    Script Date: 12/8/2023 3:33:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPROVAL_SCHEDULE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[APPROVAL_CODE] [nvarchar](50) NOT NULL,
	[APPROVAL_LEVEL] [int] NOT NULL,
	[MINIMUM_APPROVAL] [int] NOT NULL,
	[IS_MANDATORY_LEVEL] [nvarchar](1) NOT NULL,
	[EMP_POSITION_CODE] [nvarchar](50) NOT NULL,
	[EMP_POSITION_NAME] [nvarchar](250) NOT NULL,
	[EMP_CODE] [nvarchar](50) NOT NULL,
	[EMP_NAME] [nvarchar](250) NOT NULL,
	[RESULT_DATE] [datetime] NULL,
	[RESULT_STATUS] [nvarchar](10) NULL,
	[RESULT_REMARKS] [nvarchar](4000) NULL,
	[ESCALATION_COUNT] [nvarchar](50) NULL,
	[RETURN_COUNT] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](200) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_APPROVAL_SCHEDULE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPROVAL_SCHEDULE_HISTORY]    Script Date: 12/8/2023 3:33:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPROVAL_SCHEDULE_HISTORY](
	[ID] [bigint] NOT NULL,
	[APPROVAL_CODE] [nvarchar](50) NOT NULL,
	[APPROVAL_LEVEL] [int] NOT NULL,
	[MINIMUM_APPROVAL] [int] NOT NULL,
	[IS_MANDATORY_LEVEL] [nvarchar](1) NOT NULL,
	[EMP_POSITION_CODE] [nvarchar](50) NOT NULL,
	[EMP_POSITION_NAME] [nvarchar](250) NOT NULL,
	[EMP_CODE] [nvarchar](50) NOT NULL,
	[EMP_NAME] [nvarchar](250) NOT NULL,
	[RESULT_DATE] [datetime] NOT NULL,
	[RESULT_STATUS] [nvarchar](10) NOT NULL,
	[RESULT_REMARKS] [nvarchar](4000) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_APPROVAL_SCHEDULE_HISTORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPROVAL_TARGET]    Script Date: 12/8/2023 3:33:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPROVAL_TARGET](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[APPROVAL_CODE] [nvarchar](50) NOT NULL,
	[APPROVAL_LEVEL] [int] NOT NULL,
	[APPROVAL_SCHEDULE_ID] [bigint] NOT NULL,
	[EMP_POSITION_CODE] [nvarchar](50) NOT NULL,
	[EMP_POSITION_NAME] [nvarchar](250) NOT NULL,
	[EMP_CODE] [nvarchar](50) NOT NULL,
	[EMP_NAME] [nvarchar](250) NOT NULL,
	[LINK_EMAIL] [nvarchar](250) NULL,
	[LINK_TOKEN] [nvarchar](250) NULL,
	[LINK_EXPIRED_DATE] [datetime] NULL,
	[LINK_LAST_ACCESS_DATE] [datetime] NULL,
	[RESULT_DATE] [datetime] NULL,
	[RESULT_STATUS] [nvarchar](10) NULL,
	[RESULT_REMARKS] [nvarchar](4000) NULL,
	[IS_TAKEOVER] [nvarchar](1) NOT NULL,
	[ALTERNATE_EMPLOYEE_CODE] [nvarchar](50) NULL,
	[ALTERNATE_EMPLOYEE_NAME] [nvarchar](250) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_APPROVAL_TARGET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPROVAL_TARGET_HISTORY]    Script Date: 12/8/2023 3:33:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPROVAL_TARGET_HISTORY](
	[ID] [bigint] NOT NULL,
	[APPROVAL_CODE] [nvarchar](50) NOT NULL,
	[APPROVAL_LEVEL] [int] NOT NULL,
	[APPROVAL_SCHEDULE_ID] [bigint] NOT NULL,
	[EMP_POSITION_CODE] [nvarchar](50) NOT NULL,
	[EMP_POSITION_NAME] [nvarchar](250) NOT NULL,
	[EMP_CODE] [nvarchar](50) NOT NULL,
	[EMP_NAME] [nvarchar](250) NOT NULL,
	[RESULT_DATE] [datetime] NULL,
	[RESULT_STATUS] [nvarchar](10) NULL,
	[RESULT_REMARKS] [nvarchar](4000) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_APPROVAL_TARGET_HISTORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APV_INTERFACE_APPROVAL_REQUEST]    Script Date: 12/8/2023 3:33:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APV_INTERFACE_APPROVAL_REQUEST](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[BRANCH_NAME] [nvarchar](250) NOT NULL,
	[REQUEST_STATUS] [nvarchar](50) NOT NULL,
	[REQUEST_DATE] [datetime] NOT NULL,
	[REQUEST_AMOUNT] [decimal](18, 2) NOT NULL,
	[REQUEST_REMARKS] [nvarchar](4000) NOT NULL,
	[REFF_MODULE_CODE] [nvarchar](10) NOT NULL,
	[REFF_NO] [nvarchar](50) NOT NULL,
	[REFF_NAME] [nvarchar](50) NOT NULL,
	[PATHS] [nvarchar](250) NULL,
	[APPROVAL_CATEGORY_CODE] [nvarchar](50) NULL,
	[APPROVAL_STATUS] [nvarchar](10) NULL,
	[EXPIRED_DATE] [datetime] NULL,
	[JOB_STATUS] [nvarchar](10) NULL,
	[FAILED_REMARKS] [nvarchar](4000) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_APV_INTERFACE_APPROVAL_REQUEST] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APV_INTERFACE_APPROVAL_REQUEST_DIMENSION]    Script Date: 12/8/2023 3:33:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APV_INTERFACE_APPROVAL_REQUEST_DIMENSION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REQUEST_CODE] [nvarchar](50) NOT NULL,
	[DIMENSION_CODE] [nvarchar](50) NOT NULL,
	[DIMENSION_VALUE] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_ACC_INTERFACE_APPROVAL_REQUEST_DIMENSION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APV_INTERFACE_APPROVAL_REQUEST_DOCUMENT]    Script Date: 12/8/2023 3:33:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APV_INTERFACE_APPROVAL_REQUEST_DOCUMENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REQUEST_CODE] [nvarchar](50) NOT NULL,
	[DOCUMENT_CODE] [nvarchar](20) NOT NULL,
	[DOCUMENT_REMARKS] [nvarchar](4000) NULL,
	[FILE_NAME] [nvarchar](250) NULL,
	[PATHS] [nvarchar](250) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_APV_INTERFACE_APPROVAL_REQUEST_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APV_INTERFACE_NOTIFICATION_REQUEST]    Script Date: 12/8/2023 3:33:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APV_INTERFACE_NOTIFICATION_REQUEST](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[REQUEST_STATUS] [nvarchar](250) NOT NULL,
	[REQUEST_DATE] [datetime] NOT NULL,
	[REQUEST_SENT_DATE] [datetime] NOT NULL,
	[HEADER_MESSAGE] [nvarchar](250) NOT NULL,
	[BODY_MESSAGE_1] [nvarchar](4000) NOT NULL,
	[BODY_MESSAGE_2] [nvarchar](4000) NULL,
	[BODY_MESSAGE_3] [nvarchar](4000) NULL,
	[REFERENCE_AMOUNT_1] [decimal](18, 2) NULL,
	[REFERENCE_AMOUNT_2] [decimal](18, 2) NULL,
	[REFERENCE_NO_1] [nvarchar](50) NULL,
	[REFERENCE_NO_2] [nvarchar](50) NULL,
	[REFERENCE_NAME_1] [nvarchar](250) NULL,
	[REFERENCE_NAME_2] [nvarchar](250) NULL,
	[SENDER_COMPANY_NAME] [nvarchar](250) NOT NULL,
	[SENDER_ADDRESS] [nvarchar](4000) NOT NULL,
	[SENDER_POSITION] [nvarchar](250) NULL,
	[SENDER_NAME] [nvarchar](250) NOT NULL,
	[SENDER_DEPARTMENT] [nvarchar](250) NULL,
	[RECIPIENT_NAME] [nvarchar](250) NOT NULL,
	[EMAIL] [nvarchar](250) NULL,
	[EMAIL_CC] [nvarchar](250) NULL,
	[EMAIL_BCC] [nvarchar](250) NULL,
	[AREA_PHONE_NO] [nvarchar](4) NULL,
	[PHONE_NO] [nvarchar](15) NULL,
	[THIRD_PARTY_EMAIL] [nvarchar](250) NULL,
	[THIRD_PARTY_EMAIL_CC] [nvarchar](250) NULL,
	[THIRD_PARTY_EMAIL_BCC] [nvarchar](250) NULL,
	[THIRD_PARTY_AREA_PHONE_NO] [nvarchar](4) NULL,
	[THIRD_PARTY_PHONE_NO] [nvarchar](15) NULL,
	[STAFF_EMAIL] [nvarchar](250) NULL,
	[STAFF_EMAIL_CC] [nvarchar](250) NULL,
	[STAFF_EMAIL_BCC] [nvarchar](250) NULL,
	[STAFF_AREA_PHONE_NO] [nvarchar](4) NULL,
	[STAFF_PHONE_NO] [nvarchar](15) NULL,
	[MEDIA_CODE] [nvarchar](50) NOT NULL,
	[TRANSACTION_TYPE_CODE] [nvarchar](50) NULL,
	[MODULE_CODE] [nvarchar](50) NULL,
	[JOB_STATUS] [nvarchar](20) NULL,
	[FAILED_REMARK] [nvarchar](4000) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_APV_INTERFACE_NOTIFICATION_REQUEST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APV_INTERFACE_SYS_EMPLOYEE_BRANCH]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APV_INTERFACE_SYS_EMPLOYEE_BRANCH](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[BRANCH_NAME] [nvarchar](250) NOT NULL,
	[EMPLOYEE_CODE] [nvarchar](50) NOT NULL,
	[EMPLOYEE_NAME] [nvarchar](250) NOT NULL,
	[UPDATE_TYPE] [nvarchar](20) NOT NULL,
	[IS_BASE] [nvarchar](1) NOT NULL,
	[JOB_STATUS] [nvarchar](50) NOT NULL,
	[FAILED_REMARKS] [nvarchar](4000) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_APV_INTERFACE_SYS_EMPLOYEE_BRANCH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APV_INTERFACE_SYS_EMPLOYEE_MAIN]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APV_INTERFACE_SYS_EMPLOYEE_MAIN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[EMAIL] [nvarchar](200) NULL,
	[JOB_STATUS] [nvarchar](10) NULL,
	[FAILED_REMARKS] [nvarchar](4000) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_IFINAPV_INTERFACE_SYS_EMPLOYEE_MAIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APV_INTERFACE_SYS_EMPLOYEE_POSITION]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APV_INTERFACE_SYS_EMPLOYEE_POSITION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[EMPLOYEE_CODE] [nvarchar](50) NULL,
	[POSITION_CODE] [nvarchar](50) NOT NULL,
	[POSITION_NAME] [nvarchar](250) NOT NULL,
	[BASE_POSITION] [nvarchar](1) NOT NULL,
	[UPDATE_TYPE] [nvarchar](20) NOT NULL,
	[JOB_STATUS] [nvarchar](10) NOT NULL,
	[FAILED_REMARKS] [nvarchar](4000) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_APV_INTERFACE_SYS_EMPLOYEE_POSITION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANUAL_REQUEST]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANUAL_REQUEST](
	[CODE] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[BRANCH_NAME] [nvarchar](250) NOT NULL,
	[REQUEST_STATUS] [nvarchar](50) NOT NULL,
	[REQUEST_DATE] [datetime] NOT NULL,
	[REQUEST_AMOUNT] [decimal](18, 2) NULL,
	[REQUEST_REMARKS] [nvarchar](4000) NOT NULL,
	[REFF_MODULE_CODE] [nvarchar](10) NULL,
	[REFF_NO] [nvarchar](50) NULL,
	[REFF_NAME] [nvarchar](50) NULL,
	[PATHS] [nvarchar](250) NULL,
	[APPROVAL_CATEGORY_CODE] [nvarchar](50) NULL,
	[APPROVAL_STATUS] [nvarchar](10) NULL,
	[RETURN_COUNT] [int] NULL,
	[EXPIRED_DATE] [datetime] NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MANUAL_REQUEST] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANUAL_REQUEST_DEPARTMENT]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANUAL_REQUEST_DEPARTMENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REQUEST_CODE] [nvarchar](50) NOT NULL,
	[TYPE] [nvarchar](15) NULL,
	[EMPLOYEE_CODE] [nvarchar](50) NULL,
	[EMPLOYEE_NAME] [nvarchar](250) NULL,
	[DEPARTMENT_CODE] [nvarchar](50) NULL,
	[DEPARTMENT_NAME] [nvarchar](250) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MANUAL_REQUEST_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANUAL_REQUEST_DOCUMENT]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANUAL_REQUEST_DOCUMENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REQUEST_CODE] [nvarchar](50) NOT NULL,
	[DOCUMENT_CODE] [nvarchar](20) NOT NULL,
	[DOCUMENT_REMARKS] [nvarchar](4000) NULL,
	[FILE_NAME] [nvarchar](250) NULL,
	[PATHS] [nvarchar](250) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MANUAL_REQUEST_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANUAL_REQUEST_LOG]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANUAL_REQUEST_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REQUEST_CODE] [nvarchar](50) NOT NULL,
	[REFF_NO] [nvarchar](50) NOT NULL,
	[REFF_NAME] [nvarchar](250) NOT NULL,
	[DATE] [datetime] NOT NULL,
	[LOG_REMARKS] [nvarchar](4000) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MANUAL_REQUEST_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_APPROVAL]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_APPROVAL](
	[CODE] [nvarchar](50) NOT NULL,
	[APPROVAL_CATEGORY_CODE] [nvarchar](50) NOT NULL,
	[APPROVAL_NAME] [nvarchar](4000) NOT NULL,
	[APPROVAL_BY] [nvarchar](10) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[DIM_COUNT] [int] NULL,
	[DIM_1] [nvarchar](50) NULL,
	[OPERATOR_1] [nvarchar](50) NULL,
	[DIM_VALUE_FROM_1] [nvarchar](50) NULL,
	[DIM_VALUE_TO_1] [nvarchar](50) NULL,
	[DIM_2] [nvarchar](50) NULL,
	[OPERATOR_2] [nvarchar](50) NULL,
	[DIM_VALUE_FROM_2] [nvarchar](50) NULL,
	[DIM_VALUE_TO_2] [nvarchar](50) NULL,
	[DIM_3] [nvarchar](50) NULL,
	[OPERATOR_3] [nvarchar](50) NULL,
	[DIM_VALUE_FROM_3] [nvarchar](50) NULL,
	[DIM_VALUE_TO_3] [nvarchar](50) NULL,
	[DIM_4] [nvarchar](50) NULL,
	[OPERATOR_4] [nvarchar](50) NULL,
	[DIM_VALUE_FROM_4] [nvarchar](50) NULL,
	[DIM_VALUE_TO_4] [nvarchar](50) NULL,
	[DIM_5] [nvarchar](50) NULL,
	[OPERATOR_5] [nvarchar](50) NULL,
	[DIM_VALUE_FROM_5] [nvarchar](50) NULL,
	[DIM_VALUE_TO_5] [nvarchar](50) NULL,
	[DIM_6] [nvarchar](50) NULL,
	[OPERATOR_6] [nvarchar](50) NULL,
	[DIM_VALUE_FROM_6] [nvarchar](50) NULL,
	[DIM_VALUE_TO_6] [nvarchar](50) NULL,
	[DIM_7] [nvarchar](50) NULL,
	[OPERATOR_7] [nvarchar](50) NULL,
	[DIM_VALUE_FROM_7] [nvarchar](50) NULL,
	[DIM_VALUE_TO_7] [nvarchar](50) NULL,
	[DIM_8] [nvarchar](50) NULL,
	[OPERATOR_8] [nvarchar](50) NULL,
	[DIM_VALUE_FROM_8] [nvarchar](50) NULL,
	[DIM_VALUE_TO_8] [nvarchar](50) NULL,
	[DIM_9] [nvarchar](50) NULL,
	[OPERATOR_9] [nvarchar](50) NULL,
	[DIM_VALUE_FROM_9] [nvarchar](50) NULL,
	[DIM_VALUE_TO_9] [nvarchar](50) NULL,
	[DIM_10] [nvarchar](50) NULL,
	[OPERATOR_10] [nvarchar](50) NULL,
	[DIM_VALUE_FROM_10] [nvarchar](50) NULL,
	[DIM_VALUE_TO_10] [nvarchar](50) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_APPROVAL] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_APPROVAL_CATEGORY]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_APPROVAL_CATEGORY](
	[CODE] [nvarchar](50) NOT NULL,
	[APPROVAL_CATEGORY_NAME] [nvarchar](250) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[IS_MANUAL_REQUEST] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_APPROVAL_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_APPROVAL_LEVEL]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_APPROVAL_LEVEL](
	[CODE] [nvarchar](50) NOT NULL,
	[APPROVAL_CODE] [nvarchar](50) NOT NULL,
	[APPROVAL_LEVEL] [int] NOT NULL,
	[APPROVAL_LEVEL_FROM_AMOUNT] [decimal](18, 2) NULL,
	[APPROVAL_LEVEL_TO_AMOUNT] [decimal](18, 2) NULL,
	[APPROVAL_LEVEL_MIN_PERSON] [int] NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_APPROVAL_LEVEL] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_APPROVAL_LEVEL_POSITION]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_APPROVAL_LEVEL_POSITION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[APPROVAL_LEVEL_CODE] [nvarchar](50) NOT NULL,
	[POSITION_CODE] [nvarchar](50) NOT NULL,
	[POSITION_NAME] [nvarchar](250) NOT NULL,
	[IS_MANDATORY_LEVEL] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_APPROVAL_LEVEL_POSITION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_CRITERIA]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_CRITERIA](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[TYPE] [nvarchar](10) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[APPROVAL_CATEGORY_CODE] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_APPROVAL_CRITERIA] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_CRITERIA_DETAIL]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_CRITERIA_DETAIL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CRITERIA_CODE] [nvarchar](50) NOT NULL,
	[DIM_CODE] [nvarchar](50) NULL,
	[OPERATOR] [nvarchar](50) NULL,
	[DIM_VALUE_FROM] [nvarchar](50) NULL,
	[DIM_VALUE_TO] [nvarchar](50) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_APPROVAL_CRITERIA_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_DASHBOARD]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_DASHBOARD](
	[CODE] [nvarchar](50) NOT NULL,
	[DASHBOARD_NAME] [nvarchar](250) NOT NULL,
	[DASHBOARD_TYPE] [nvarchar](20) NOT NULL,
	[DASHBOARD_GRID] [nvarchar](50) NOT NULL,
	[SP_NAME] [nvarchar](250) NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[IS_EDITABLE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_DASHBOARD] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_DASHBOARD_USER]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_DASHBOARD_USER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_CODE] [nvarchar](50) NOT NULL,
	[EMPLOYEE_NAME] [nvarchar](250) NOT NULL,
	[DASHBOARD_CODE] [nvarchar](50) NULL,
	[ORDER_KEY] [int] NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_DASHBOARD_USER_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_FAQ]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_FAQ](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QUESTION] [nvarchar](4000) NULL,
	[ANSWER] [nvarchar](4000) NULL,
	[FILENAME] [nvarchar](250) NULL,
	[PATHS] [nvarchar](250) NULL,
	[IS_ACTIVE] [nvarchar](1) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_FAQ] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBJECT_INFO]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJECT_INFO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REQUEST_CODE] [nvarchar](50) NOT NULL,
	[EMPLOYEE_CODE] [nvarchar](50) NULL,
	[EMPLOYEE_NAME] [nvarchar](250) NULL,
	[DIVISION_CODE] [nvarchar](50) NULL,
	[DIVISION_NAME] [nvarchar](250) NULL,
	[DEPARTMENT_CODE] [nvarchar](50) NULL,
	[DEPARTMENT_NAME] [nvarchar](250) NULL,
	[SUBJECT] [nvarchar](4000) NULL,
	[EFF_DATE] [datetime] NULL,
	[SUMMARY] [nvarchar](4000) NULL,
	[NOTIFICATION] [nvarchar](4000) NULL,
	[NOTIF_DATE] [datetime] NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_OBJECT_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RPT_APPROVAL_ESCALATION]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT_APPROVAL_ESCALATION](
	[USER_ID] [nvarchar](50) NOT NULL,
	[REPORT_COMPANY] [nvarchar](250) NOT NULL,
	[REPORT_TITLE] [nvarchar](250) NOT NULL,
	[REPORT_IMAGE] [nvarchar](250) NOT NULL,
	[FILTER_FROM_DATE] [datetime] NOT NULL,
	[FILTER_TO_DATE] [datetime] NOT NULL,
	[FILTER_BRANCH_CODE] [nvarchar](50) NOT NULL,
	[FILTER_BRANCH_NAME] [nvarchar](250) NOT NULL,
	[FILTER_APPROVAL_TYPE] [nvarchar](50) NULL,
	[FILTER_APPROVAL_NAME] [nvarchar](250) NULL,
	[TRANSACTION_NO] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[BRANCH_NAME] [nvarchar](250) NOT NULL,
	[APPROVAL_TYPE] [nvarchar](250) NOT NULL,
	[REJECT_LEVEL] [nvarchar](20) NOT NULL,
	[REJECT_BY] [nvarchar](250) NOT NULL,
	[REJECT_REMARK] [nvarchar](4000) NOT NULL,
	[ESCALATION_STATUS] [nvarchar](10) NOT NULL,
	[ESCALATION_APPROVE_BY] [nvarchar](250) NOT NULL,
	[ESCALATION_REMARK] [nvarchar](4000) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[IS_CONDITION] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RPT_SLA_APPROVAL_TRANSACTION]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT_SLA_APPROVAL_TRANSACTION](
	[USER_ID] [nvarchar](50) NOT NULL,
	[REPORT_COMPANY] [nvarchar](250) NOT NULL,
	[REPORT_TITLE] [nvarchar](250) NOT NULL,
	[REPORT_IMAGE] [nvarchar](250) NOT NULL,
	[FILTER_FROM_DATE] [datetime] NOT NULL,
	[FILTER_TO_DATE] [datetime] NOT NULL,
	[FILTER_BRANCH_CODE] [nvarchar](50) NOT NULL,
	[FILTER_BRANCH_NAME] [nvarchar](250) NOT NULL,
	[FILTER_APPROVAL_TYPE] [nvarchar](50) NULL,
	[FILTER_APPROVAL_NAME] [nvarchar](250) NULL,
	[TRANSACTION_NO] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[BRANCH_NAME] [nvarchar](250) NOT NULL,
	[APPROVAL_TYPE] [nvarchar](250) NOT NULL,
	[APPROVAL_LEVEL_MIN] [int] NOT NULL,
	[APPROVAL_LEVEL_MAX] [int] NOT NULL,
	[RESULT_STATUS] [nvarchar](10) NOT NULL,
	[PROCESS_BY] [nvarchar](250) NOT NULL,
	[ENTRY_DATE] [datetime] NOT NULL,
	[FINISH_DATE] [datetime] NOT NULL,
	[SLA_HOURS] [int] NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[IS_CONDITION] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_CALENDER_EMPLOYEE]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_CALENDER_EMPLOYEE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](50) NOT NULL,
	[START] [nvarchar](50) NOT NULL,
	[ENDDAY] [nvarchar](50) NOT NULL,
	[CLASSNAME] [nvarchar](50) NOT NULL,
	[EMPLOYEE_CODE] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_DIMENSION]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DIMENSION](
	[CODE] [nvarchar](50) NOT NULL,
	[DIMENSION_NAME] [nvarchar](250) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_DIMENSION] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_DIMENSION_VALUE]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DIMENSION_VALUE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DIMENSION_CODE] [nvarchar](50) NOT NULL,
	[DIMENSION_DESCRIPTION] [nvarchar](250) NOT NULL,
	[DIMENSION_VALUE] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_DIMENSION_VALUE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_DOC_ACCESS_LOG]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DOC_ACCESS_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MODULE_NAME] [nvarchar](50) NOT NULL,
	[TRANSACTION_NAME] [nvarchar](250) NOT NULL,
	[TRANSACTION_NO] [nvarchar](50) NOT NULL,
	[ACCESS_DATE] [datetime] NOT NULL,
	[ACESS_TYPE] [nvarchar](250) NOT NULL,
	[FILE_NAME] [nvarchar](250) NOT NULL,
	[PRINT_BY_CODE] [nvarchar](50) NOT NULL,
	[PRINT_BY_NAME] [nvarchar](250) NOT NULL,
	[PRINT_BY_IP] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_DOCUMENT_NUMBER]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DOCUMENT_NUMBER](
	[CODE] [nvarchar](50) NOT NULL,
	[CODE_DOCUMENT] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_DOCUMENT_UPLOAD]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DOCUMENT_UPLOAD](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REFF_NO] [nvarchar](50) NOT NULL,
	[REFF_NAME] [nvarchar](250) NOT NULL,
	[REFF_TRX_CODE] [nvarchar](50) NOT NULL,
	[FILE_NAME] [nvarchar](250) NOT NULL,
	[DOC_FILE] [varbinary](max) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_DOCUMENT_UPLOAD_1] PRIMARY KEY CLUSTERED 
(
	[FILE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_EMPLOYEE_BRANCH]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_EMPLOYEE_BRANCH](
	[CODE] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[BRANCH_NAME] [nvarchar](250) NOT NULL,
	[EMPLOYEE_CODE] [nvarchar](50) NOT NULL,
	[EMPLOYEE_NAME] [nvarchar](250) NOT NULL,
	[IS_BASE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_EMPLOYEE_BRANCH] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[EMPLOYEE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_EMPLOYEE_MAIN]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_EMPLOYEE_MAIN](
	[CODE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[STATUS] [nvarchar](1) NOT NULL,
	[EMAIL] [nvarchar](200) NULL,
	[ALTERNATE_EMPLOYEE_CODE] [nvarchar](50) NULL,
	[ALTERNATE_EMPLOYEE_NAME] [nvarchar](50) NULL,
	[TELEGRAM_ID] [nvarchar](250) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_EMPLOYEE_MAIN] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_EMPLOYEE_POSITION]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_EMPLOYEE_POSITION](
	[CODE] [nvarchar](50) NOT NULL,
	[EMPLOYEE_CODE] [nvarchar](50) NOT NULL,
	[POSITION_CODE] [nvarchar](50) NOT NULL,
	[POSITION_NAME] [nvarchar](250) NOT NULL,
	[BASE_POSITION] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_EMPLOYEE_POSITION] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_ERROR_LOG]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_ERROR_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LOG_DATE] [datetime] NOT NULL,
	[LOG_MESSAGE] [nvarchar](4000) NOT NULL,
	[SP_NAME] [nvarchar](250) NOT NULL,
	[PARAMETER] [nvarchar](4000) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_GENERAL_CODE]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GENERAL_CODE](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[IS_EDITABLE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_GENERAL_CODE] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_GENERAL_SUBCODE]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GENERAL_SUBCODE](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[GENERAL_CODE] [nvarchar](50) NOT NULL,
	[OJK_CODE] [nvarchar](50) NOT NULL,
	[ORDER_KEY] [int] NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_GENERAL_SUBCODE] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_GLOBAL_PARAM]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GLOBAL_PARAM](
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[VALUE] [nvarchar](250) NOT NULL,
	[IS_EDITABLE] [nvarchar](1) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_GLOBAL_PARAM] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_JOB_TASKLIST]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_JOB_TASKLIST](
	[CODE] [nvarchar](50) NOT NULL,
	[TYPE] [nvarchar](20) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[SP_NAME] [nvarchar](250) NOT NULL,
	[ORDER_NO] [int] NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[LAST_ID] [bigint] NOT NULL,
	[EOD_STATUS] [nvarchar](20) NULL,
	[EOD_REMARK] [nvarchar](4000) NULL,
	[ROW_TO_PROCESS] [int] NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_JOB_TASKLIST] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_JOB_TASKLIST_LOG]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_JOB_TASKLIST_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JOB_TASKLIST_CODE] [nvarchar](50) NOT NULL,
	[STATUS] [nvarchar](20) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[LOG_DESCRIPTION] [nvarchar](400) NOT NULL,
	[RUN_BY] [nvarchar](20) NOT NULL,
	[FROM_ID] [bigint] NOT NULL,
	[TO_ID] [bigint] NOT NULL,
	[NUMBER_OF_ROWS] [int] NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_JOB_TASKLIST_LOG_HISTORY]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_JOB_TASKLIST_LOG_HISTORY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JOB_TASKLIST_CODE] [nvarchar](50) NOT NULL,
	[STATUS] [nvarchar](20) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[LOG_DESCRIPTION] [nvarchar](400) NOT NULL,
	[RUN_BY] [nvarchar](20) NOT NULL,
	[FROM_ID] [bigint] NOT NULL,
	[TO_ID] [bigint] NOT NULL,
	[NUMBER_OF_ROWS] [int] NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_REPORT]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_REPORT](
	[CODE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[REPORT_TYPE] [nvarchar](15) NOT NULL,
	[TABLE_NAME] [nvarchar](250) NOT NULL,
	[SP_NAME] [nvarchar](250) NOT NULL,
	[SCREEN_NAME] [nvarchar](250) NOT NULL,
	[RPT_NAME] [nvarchar](250) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_REPORT] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_REPORT_LOG]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_REPORT_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REPORT_CODE] [nvarchar](50) NOT NULL,
	[REPORT_NAME] [nvarchar](250) NOT NULL,
	[PRINT_DATE] [datetime] NOT NULL,
	[PRINT_BY_CODE] [nvarchar](50) NOT NULL,
	[PRINT_BY_NAME] [nvarchar](250) NOT NULL,
	[PRINT_BY_IP] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_TODO]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_TODO](
	[CODE] [nvarchar](50) NOT NULL,
	[TODO_NAME] [nvarchar](250) NOT NULL,
	[LINK_ADDRESS] [nvarchar](250) NOT NULL,
	[QUERY] [nvarchar](250) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_TODO] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_TODO_EMPLOYEE]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_TODO_EMPLOYEE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_CODE] [nvarchar](50) NOT NULL,
	[EMPLOYEE_NAME] [nvarchar](250) NOT NULL,
	[TODO_CODE] [nvarchar](50) NOT NULL,
	[PRIORITY] [nvarchar](10) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_TODO_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACTION_LOCK]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTION_LOCK](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [nvarchar](50) NOT NULL,
	[USER_NAME] [nvarchar](250) NULL,
	[REFF_NAME] [nvarchar](250) NULL,
	[REFF_CODE] [nvarchar](50) NOT NULL,
	[ACCESS_DATE] [datetime] NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_TRANSACTION_LOCK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACTION_LOCK_HISTORY]    Script Date: 12/8/2023 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTION_LOCK_HISTORY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [nvarchar](50) NOT NULL,
	[USER_NAME] [nvarchar](250) NULL,
	[REFF_NAME] [nvarchar](250) NULL,
	[REFF_CODE] [nvarchar](50) NOT NULL,
	[ACCESS_DATE] [datetime] NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_TRANSACTION_LOCK_HISTORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
