USE [IFINBAM]
GO
/****** Object:  Table [dbo].[BAM_INTERFACE_EXT_MASTER_ITEM]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAM_INTERFACE_EXT_MASTER_ITEM](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MERK_CODE] [nvarchar](50) NULL,
	[MERK_NAME] [nvarchar](250) NULL,
	[MODEL_CODE] [nvarchar](50) NULL,
	[MODEL_NAME] [nvarchar](250) NULL,
	[TYPE_CODE] [nvarchar](50) NULL,
	[TYPE_NAME] [nvarchar](250) NULL,
	[TYPE_ASSET_CODE] [nvarchar](50) NOT NULL,
	[TYPE_ASSET_NAME] [nvarchar](250) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[CLASS_TYPE_CODE] [nvarchar](50) NOT NULL,
	[CLASS_TYPE_NAME] [nvarchar](250) NOT NULL,
	[IS_SPAF] [nvarchar](1) NOT NULL,
	[SPAF_PCT] [decimal](9, 6) NOT NULL,
	[JOB_STATUS] [nvarchar](50) NULL,
	[FAILED_REMARKS] [nvarchar](4000) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NULL,
	[OTR_AMOUNT] [decimal](18, 2) NULL,
 CONSTRAINT [PK_BAM_INTERFACE_EXT_MASTER_ITEM_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAM_INTERFACE_MASTER_ITEM]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAM_INTERFACE_MASTER_ITEM](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TYPE_ASSET_CODE] [nvarchar](50) NULL,
	[ITEM_CODE] [nvarchar](50) NOT NULL,
	[ITEM_NAME] [nvarchar](250) NULL,
	[MERK_CODE] [nvarchar](50) NULL,
	[MERK_NAME] [nvarchar](250) NULL,
	[MODEL_CODE] [nvarchar](50) NULL,
	[MODEL_NAME] [nvarchar](250) NULL,
	[TYPE_CODE] [nvarchar](50) NULL,
	[TYPE_NAME] [nvarchar](250) NULL,
	[CATEGORY_TYPE] [nvarchar](20) NULL,
	[CLASS_TYPE_CODE] [nvarchar](50) NULL,
	[CLASS_TYPE_NAME] [nvarchar](250) NULL,
	[INSURANCE_ASSET_TYPE_CODE] [nvarchar](50) NULL,
	[INSURANCE_ASSET_TYPE_NAME] [nvarchar](250) NULL,
	[REGISTRATION_CLASS_TYPE_CODE] [nvarchar](50) NULL,
	[REGISTRATION_CLASS_TYPE_NAME] [nvarchar](250) NULL,
	[IS_SPAF] [nvarchar](1) NULL,
	[SPAF_PCT] [decimal](9, 6) NULL,
	[SETTLE_DATE] [datetime] NULL,
	[JOB_STATUS] [nvarchar](10) NULL,
	[FAILED_REMARKS] [nvarchar](4000) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_BAM_INTERFACE_MASTER_ITEM_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_CATEGORY]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_CATEGORY](
	[CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[ASSET_TYPE_CODE] [nvarchar](20) NOT NULL,
	[TRANSACTION_DEPRE_CODE] [nvarchar](50) NULL,
	[TRANSACTION_DEPRE_NAME] [nvarchar](250) NULL,
	[TRANSACTION_ACCUM_DEPRE_CODE] [nvarchar](50) NULL,
	[TRANSACTION_ACCUM_DEPRE_NAME] [nvarchar](250) NULL,
	[TRANSACTION_GAIN_LOSS_CODE] [nvarchar](50) NULL,
	[TRANSACTION_GAIN_LOSS_NAME] [nvarchar](250) NULL,
	[TRANSACTION_PROFIT_SELL_CODE] [nvarchar](50) NULL,
	[TRANSACTION_PROFIT_SELL_NAME] [nvarchar](250) NULL,
	[TRANSACTION_LOSS_SELL_CODE] [nvarchar](50) NULL,
	[TRANSACTION_LOSS_SELL_NAME] [nvarchar](250) NULL,
	[DEPRE_CAT_FISCAL_CODE] [nvarchar](50) NULL,
	[DEPRE_CAT_FISCAL_NAME] [nvarchar](250) NULL,
	[DEPRE_CAT_COMMERCIAL_CODE] [nvarchar](50) NULL,
	[DEPRE_CAT_COMMERCIAL_NAME] [nvarchar](250) NULL,
	[LAST_DEPRE_DATE] [datetime] NULL,
	[ASSET_AMOUNT_THRESHOLD] [decimal](18, 2) NOT NULL,
	[DEPRE_AMOUNT_THRESHOLD] [decimal](18, 2) NOT NULL,
	[TOTAL_NET_BOOK_VALUE_AMOUNT] [decimal](18, 2) NOT NULL,
	[TOTAL_ACCUM_DEPRE_AMOUNT] [decimal](18, 2) NOT NULL,
	[TOTAL_ASSET_VALUE] [decimal](18, 2) NOT NULL,
	[VALUE_TYPE] [nvarchar](50) NOT NULL,
	[NDE] [decimal](18, 6) NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_EMAIL]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_EMAIL](
	[EMAIL_FROM] [nvarchar](250) NULL,
	[EMAIL_TO] [nvarchar](250) NULL,
	[CC] [nvarchar](250) NULL,
	[BCC] [nvarchar](250) NULL,
	[SUBJECT] [nvarchar](4000) NULL,
	[FILE_NAME] [nvarchar](250) NULL,
	[FILE_PATH] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_FAQ]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_FAQ](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QUESTION] [nvarchar](4000) NULL,
	[ANSWER] [nvarchar](4000) NULL,
	[FILENAME] [nvarchar](250) NULL,
	[PATHS] [nvarchar](250) NULL,
	[IS_ACTIVE] [nvarchar](1) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_FAQ] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_ITEM]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_ITEM](
	[CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[TRANSACTION_TYPE] [nvarchar](50) NOT NULL,
	[ITEM_GROUP_CODE] [nvarchar](50) NOT NULL,
	[MERK_CODE] [nvarchar](50) NULL,
	[MODEL_CODE] [nvarchar](50) NULL,
	[TYPE_CODE] [nvarchar](50) NULL,
	[UOM_CODE] [nvarchar](50) NOT NULL,
	[TYPE_ASSET_CODE] [nvarchar](50) NOT NULL,
	[FA_CATEGORY_CODE] [nvarchar](50) NOT NULL,
	[FA_CATEGORY_NAME] [nvarchar](250) NOT NULL,
	[PO_LATEST_PRICE] [decimal](18, 2) NOT NULL,
	[PO_AVERAGE_PRICE] [decimal](18, 2) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[CATEGORY_TYPE] [nvarchar](20) NOT NULL,
	[CLASS_TYPE_CODE] [nvarchar](50) NOT NULL,
	[IS_RENT] [nvarchar](1) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[INSURANCE_ASSET_TYPE] [nvarchar](50) NOT NULL,
	[REGISTRATION_CLASS_TYPE] [nvarchar](50) NOT NULL,
	[IS_SPAF] [nvarchar](1) NOT NULL,
	[SPAF_PCT] [decimal](9, 6) NOT NULL,
	[SPAF_OTR_AMOUNT] [decimal](18, 2) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_ITEM_1] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_ITEM_GROUP]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_ITEM_GROUP](
	[CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[GROUP_LEVEL] [int] NOT NULL,
	[PARENT_CODE] [nvarchar](50) NOT NULL,
	[TRANSACTION_TYPE] [nvarchar](20) NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_ITEM_GROUP_1] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_ITEM_GROUP_GL]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_ITEM_GROUP_GL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[ITEM_GROUP_CODE] [nvarchar](50) NOT NULL,
	[CURRENCY_CODE] [nvarchar](10) NOT NULL,
	[GL_ASSET_CODE] [nvarchar](50) NOT NULL,
	[GL_EXPEND_CODE] [nvarchar](50) NOT NULL,
	[GL_INPROGRESS_CODE] [nvarchar](50) NOT NULL,
	[CATEGORY] [nvarchar](250) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_ITEM_GROUP_GL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_LOCATION]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_LOCATION](
	[CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NOT NULL,
	[BRANCH_NAME] [nvarchar](250) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[ADDRESS] [nvarchar](4000) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_LOCATION] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_MERK]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_MERK](
	[CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_MERK_1] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_MODEL]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_MODEL](
	[CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[MERK_CODE] [nvarchar](50) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_MODEL_1] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_MODEL_DETAIL]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_MODEL_DETAIL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MODEL_CODE] [nvarchar](50) NOT NULL,
	[SERVICE_CODE] [nvarchar](50) NOT NULL,
	[IS_MILES] [nvarchar](1) NULL,
	[MILES_CYCLE] [int] NULL,
	[IS_MONTH] [nvarchar](1) NULL,
	[MONTH_CYCLE] [int] NULL,
	[IS_HOUR] [nvarchar](1) NULL,
	[HOUR_CYCLE] [int] NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_MODEL_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_MODEL_RV]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_MODEL_RV](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MODEL_CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[YEAR] [nvarchar](4) NOT NULL,
	[RV_RATE] [decimal](9, 6) NOT NULL,
	[RV_RATE_AT] [decimal](9, 6) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_MODEL_RV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_SERVICE]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_SERVICE](
	[CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[GROUP_CODE] [nvarchar](50) NOT NULL,
	[TYPE_ASSET_CODE] [nvarchar](50) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[SERVICE_TYPE] [nvarchar](20) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_SERVICE] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_TYPE]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_TYPE](
	[CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[MERK_CODE] [nvarchar](50) NOT NULL,
	[MODEL_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_TYPE_1] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_UNIT]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_UNIT](
	[CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[DIVISION_CODE] [nvarchar](50) NOT NULL,
	[DEPARTMENT_CODE] [nvarchar](50) NOT NULL,
	[SUB_DEPARTMENT_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_UNIT_1] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_UOM]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_UOM](
	[CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_UOM_1] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_VENDOR]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_VENDOR](
	[CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](200) NOT NULL,
	[ADDRESS] [nvarchar](4000) NOT NULL,
	[CITY_CODE] [nvarchar](50) NOT NULL,
	[CITY_NAME] [nvarchar](250) NOT NULL,
	[PROVINCE_CODE] [nvarchar](50) NOT NULL,
	[PROVINCE_NAME] [nvarchar](250) NOT NULL,
	[ZIPCODE] [nvarchar](10) NOT NULL,
	[VENDOR_TYPE] [nvarchar](50) NOT NULL,
	[ID_TYPE] [nvarchar](50) NOT NULL,
	[ID_NO] [nvarchar](100) NOT NULL,
	[TAX_CALCULATION_METHOD] [nvarchar](50) NOT NULL,
	[PKP_NO] [nvarchar](50) NOT NULL,
	[PHONE] [nvarchar](200) NOT NULL,
	[FAX] [nvarchar](30) NULL,
	[SERVICE_TYPE_CODE] [nvarchar](50) NOT NULL,
	[BUSINESS_TYPE_CODE] [nvarchar](50) NOT NULL,
	[OWNER_NAME] [nvarchar](100) NOT NULL,
	[OWNER_PHONE] [nvarchar](25) NOT NULL,
	[CONTACT_NAME] [nvarchar](100) NOT NULL,
	[CONTACT_POSITION] [nvarchar](100) NOT NULL,
	[CONTACT_PHONE] [nvarchar](25) NOT NULL,
	[WEBSITE_ADDRESS] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[NPWP] [nvarchar](20) NOT NULL,
	[SIUP_NO] [nvarchar](25) NULL,
	[SKU_NO] [nvarchar](25) NULL,
	[TDP_NO] [nvarchar](25) NULL,
	[REMARK] [nvarchar](4000) NULL,
	[ID_VENDOR] [nvarchar](150) NULL,
	[STATUS] [nvarchar](15) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[NPWP_NAME] [nvarchar](200) NULL,
	[NPWP_ADDRESS] [nvarchar](4000) NULL,
 CONSTRAINT [PK_MASTER_VENDOR_1] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_VENDOR_BANK]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_VENDOR_BANK](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[VENDOR_CODE] [nvarchar](50) NOT NULL,
	[CURRENCY_CODE] [nvarchar](50) NOT NULL,
	[BRANCH] [nvarchar](250) NULL,
	[BANK_CODE] [nvarchar](50) NOT NULL,
	[BANK_NAME] [nvarchar](50) NULL,
	[ACCOUNT_NO] [nvarchar](50) NOT NULL,
	[ACCOUNT_NAME] [nvarchar](250) NOT NULL,
	[IS_DEFAULT] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_VENDOR_BANK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_VENDOR_DOCUMENT]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_VENDOR_DOCUMENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[VENDOR_CODE] [nvarchar](50) NOT NULL,
	[DOCUMENT_CODE] [nvarchar](50) NOT NULL,
	[FILE_PATH] [nvarchar](250) NULL,
	[FILE_NAME] [nvarchar](250) NULL,
	[REMARK] [nvarchar](4000) NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_VENDOR_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_VENDOR_ITEM_GROUP]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_VENDOR_ITEM_GROUP](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[VENDOR_CODE] [nvarchar](50) NOT NULL,
	[TRANSACTION_TYPE] [nvarchar](50) NOT NULL,
	[GROUP_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_ITEM_GROUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_DOC_ACCESS_LOG]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DOC_ACCESS_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MODULE_NAME] [nvarchar](50) NOT NULL,
	[TRANSACTION_NAME] [nvarchar](250) NOT NULL,
	[TRANSACTION_NO] [nvarchar](50) NOT NULL,
	[ACCESS_DATE] [datetime] NOT NULL,
	[ACESS_TYPE] [nvarchar](250) NOT NULL,
	[FILE_NAME] [nvarchar](250) NOT NULL,
	[PRINT_BY_CODE] [nvarchar](50) NOT NULL,
	[PRINT_BY_NAME] [nvarchar](250) NOT NULL,
	[PRINT_BY_IP] [nvarchar](50) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_DOC_ACCESS_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_DOCUMENT_UPLOAD]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DOCUMENT_UPLOAD](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REFF_NO] [nvarchar](50) NOT NULL,
	[REFF_NAME] [nvarchar](250) NOT NULL,
	[REFF_TRX_CODE] [nvarchar](50) NOT NULL,
	[FILE_NAME] [nvarchar](250) NOT NULL,
	[DOC_FILE] [varbinary](max) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_DOCUMENT_UPLOAD_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[FILE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_ERROR_LOG]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_ERROR_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LOG_DATE] [datetime] NOT NULL,
	[LOG_MESSAGE] [nvarchar](4000) NOT NULL,
	[SP_NAME] [nvarchar](250) NOT NULL,
	[PARAMETER] [nvarchar](4000) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_GENERAL_CODE]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GENERAL_CODE](
	[CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[IS_EDITABLE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_GENERAL_CODE_1] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_GENERAL_DOCUMENT]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GENERAL_DOCUMENT](
	[CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[IS_MANDATORY] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MASTER_GENERAL_DOC] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_GENERAL_SUBCODE]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GENERAL_SUBCODE](
	[CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](4000) NOT NULL,
	[GENERAL_CODE] [nvarchar](50) NOT NULL,
	[ORDER_KEY] [int] NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_GENERAL_SUBCODE] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[GENERAL_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_GLOBAL_PARAM]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GLOBAL_PARAM](
	[CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[VALUE] [nvarchar](250) NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_GLOBAL_PARAM] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_JOB_LOG]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_JOB_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JOB_CODE] [nvarchar](50) NULL,
	[JOB_DESCRIPTION] [nvarchar](4000) NULL,
	[STATUS] [nvarchar](50) NULL,
	[FAILED_REMARK] [nvarchar](4000) NULL,
	[FAILED_DATA_ID] [int] NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_JOB_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_JOB_TASKLIST]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_JOB_TASKLIST](
	[CODE] [nvarchar](50) NOT NULL,
	[TYPE] [nvarchar](20) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
	[SP_NAME] [nvarchar](250) NOT NULL,
	[ORDER_NO] [int] NOT NULL,
	[IS_ACTIVE] [nvarchar](1) NOT NULL,
	[ROW_TO_PROCESS] [int] NOT NULL,
	[EOD_STATUS] [nvarchar](20) NULL,
	[EOD_REMARK] [nvarchar](4000) NULL,
	[LAST_ID] [bigint] NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_JOB_TASKLIST_LOG]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_JOB_TASKLIST_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JOB_TASKLIST_CODE] [nvarchar](50) NOT NULL,
	[STATUS] [nvarchar](20) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[LOG_DESCRIPTION] [nvarchar](400) NOT NULL,
	[RUN_BY] [nvarchar](20) NOT NULL,
	[FROM_ID] [bigint] NOT NULL,
	[TO_ID] [bigint] NOT NULL,
	[NUMBER_OF_ROWS] [int] NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_JOB_TASKLIST_LOG_HISTORY]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_JOB_TASKLIST_LOG_HISTORY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JOB_TASKLIST_CODE] [nvarchar](50) NOT NULL,
	[STATUS] [nvarchar](20) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[LOG_DESCRIPTION] [nvarchar](400) NOT NULL,
	[RUN_BY] [nvarchar](20) NOT NULL,
	[FROM_ID] [bigint] NOT NULL,
	[TO_ID] [bigint] NOT NULL,
	[NUMBER_OF_ROWS] [int] NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XXX_MASTER_MODEL_RV_17112023]    Script Date: 12/8/2023 3:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXX_MASTER_MODEL_RV_17112023](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MODEL_CODE] [nvarchar](50) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[YEAR] [nvarchar](4) NOT NULL,
	[RV_RATE] [decimal](9, 6) NOT NULL,
	[RV_RATE_AT] [decimal](9, 6) NOT NULL,
	[CRE_DATE] [datetime] NOT NULL,
	[CRE_BY] [nvarchar](15) NOT NULL,
	[CRE_IP_ADDRESS] [nvarchar](15) NOT NULL,
	[MOD_DATE] [datetime] NOT NULL,
	[MOD_BY] [nvarchar](15) NOT NULL,
	[MOD_IP_ADDRESS] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
